@charset "utf-8";

html, body {margin: 0;height: 100%;min-height: 100%;}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$r: 'Rubik', sans-serif;
$m: 'Montserrat', sans-serif;
$l: 'Lato', sans-serif;
$op: 'Open Sans', sans-serif;

$siteWidth: 1180px;                      // Ширина
$siteMinWidth: 375px;                   // Минимальная ширина

$siteFontFamily: $r, arial;                 // Основное семейство
$siteFontSize: 16px;                    // Основной размер


$H1Size: $siteFontSize*2 + 10;               // Размер заголовка

$siteColor: #484848;                       // Цвет шрифта
$linkColor: #167AD7;                       // Цвет ссылок
$HnColor: #131E30;                         // Цвет заголовка


body {
    position: relative;
    min-width: $siteMinWidth;
    text-align: left;
    color: $siteColor;
    font: $siteFontSize $siteFontFamily;
    line-height: 1;
    background: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    color: $HnColor;
    font-family: $siteFontFamily;
    font-weight: bold;
    font-style: normal;
}

h1 {margin-top: 0; font-size: $H1Size;margin-bottom: 32px;line-height: 50px;}
h2 {font-size: round($H1Size - 2);}
h3 {font-size: round($H1Size - 4);}
h4 {font-size: round($H1Size - 6);}
h5 {font-size: round($H1Size - 8);}
h6 {font-size: round($H1Size - 9);}
h5, h6 {font-size: round($H1Size - 10);}

a {text-decoration: underline; color: $linkColor;}
a:hover {text-decoration: none;}

a img {border-color: $siteColor;}


a[href^="tel:"] {
    text-decoration: none;
    color: inherit;
    cursor: default;
}

img, textarea, input, table {
    max-width: 100%;
}

.site_wrapper {
    min-height: 100%;
    margin: 0 auto -148px;
    overflow: hidden;

    &:after {
        display: block;
        visibility: hidden;
        height: 148px;
        content: "";
    }
}

*{
    box-sizing: border-box;
}

.block_inner {
    max-width: $siteWidth;
    margin: 0 auto;
}

footer {
    position: relative;
}

.col2-field {

    @media all and (min-width: 768px) {
        display: flex;

        .field {
            flex: 0 0 calc(50% - 8px);
            margin-right: 16px;

            &:nth-child(2){
                margin-right: 0;
            }
        }
    }
}

.oveflowHidden {
    overflow: hidden;
}

.field {
    margin-bottom: 20px;
    position: relative;

    .field_name {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #666666;
        padding-bottom: 4px;

        span {
            color: #f00;
        }
    }

    input[type="text"],input[type="password"]  {
        width: 100%;
        padding: 0 16px;
        height: 48px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        background: #FFFFFF;
        color: #666;
        border: 1px solid #B7BACA;
        box-sizing: border-box;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1), inset 0px 2px 3px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        outline: none;
        font-family: $r;
        transition: all 0.3s;

        &::-webkit-input-placeholder { /* Edge */
          color: #999999;
        }

        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: #999999;
        }

        &::placeholder {
          color: #999999;
        }

        &:hover {
            border-color: #A7E5D8;
        }

        &:focus {
            border-color: #A7E5D8;
        }
    }

    textarea {
        width: 100%;
        padding: 14px 16px;
        height: 108px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        background: #FFFFFF;
        border: 1px solid #B7BACA;
        box-sizing: border-box;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1), inset 0px 2px 3px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        outline: none;
        color: #666;
        font-family: $r;
        transition: all 0.3s;

        &::-webkit-input-placeholder { /* Edge */
          color: #999999;
        }

        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: #999999;
        }

        &::placeholder {
          color: #999999;
        }

        &:hover {
            border-color: #A7E5D8;
        }

        &:focus {
            border-color: #A7E5D8;
        }
    }

    &.error {
        input[type="text"],input[type="password"] {
            color: #f00;
            border-color: #f00;
        }

        .name_field {
            color: #f00;
        }
    }

    &.radio {
        padding: 8px 16px;
        display: flex;
        margin-bottom: 30px;

        .name {
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 24px;
            text-transform: uppercase;
            color: #78B82A;
            flex: 1 1 auto;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                display: inline-block;
                vertical-align: top;
                margin-left: 60px;

                &:first-child {
                    margin: 0;
                }

                label {
                    display: inline-block;
                    vertical-align: top;
                    padding: 0 0 0 17px;
                    position: relative;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 24px;
                    text-transform: uppercase;
                    color: #666;
                    cursor: pointer;

                    input {
                        opacity: 0;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    span {
                        position: absolute;
                        top: 0;
                        bottom: 2px;
                        left: 0;
                        margin: auto;
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        border: 1px solid #A7E5D8;

                        &:before {
                            content: '';
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            margin: auto;
                            opacity: 0;
                            background: #A7E5D8;
                        }
                    }

                    input:checked + span:before {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &.file {

        label {
            display: block;
            padding: 20px 20px;
            cursor: pointer;
            text-align: center;
            position: relative;
            background: rgba(183, 186, 202, 0.2);
            border: 2px dashed #B7BACA;
            box-sizing: border-box;
            border-radius: 6px;

            &:focus {
                border-color: #2B2B2B;
            }

            &:hover {
                background: #FAFAFA;
            }

            input {
                position: absolute;
                opacity: 0;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                font-size: 0;
                cursor: pointer;
            }

            .name_file_field {
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 20px;
                color: #2B2B2B;
                text-align: center;
                cursor: pointer;

                .warning {
                    margin: 0 0 4px;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                    text-align: center;
                    color: #167AD7;
                }

                span {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 16px;
                    text-align: center;
                    color: #8E92AB;
                }
            }
        }

        .file_block {
            cursor: pointer;
        }

        .file_data {
            display: none;
            font-size: 0;
            margin-bottom: 10px;

            &.show {
                display: block;
            }

            .filename {
                max-width: 320px;
                display: block;
                border: 1px solid #B7BACA;
                border-radius: 6px;
                padding: 0 16px;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                height: 48px;
                line-height: 48px;
                color: #2B2B2B;
                white-space: nowrap;
                background: #fff;
                box-shadow: 0px 2px 6px rgb(0 0 0 / 10%), inset 0px 2px 3px rgb(0 0 0 / 10%);

                span {
                    width: 100%;
                    overflow: hidden;
                    display: block;
                }
            }
        }

        .btn_reload {
            display: none;

        }

        &.active {

            label {
                text-align: left;
                display: inline-block;
                border: none;
                padding: 10px 20px;

                .name_file_field,.icon,.btn_file,.text_field {
                    display: none;
                }

                .btn_reload {
                    display: inline-block;
                }
            }
        }
    }
}

.jq-selectbox.jqselect {
    display: block !important;
    width: 100%;

    .jq-selectbox__select {
        width: 100%;
        padding: 0 16px;
        height: 48px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        background: #FFFFFF;
        color: #666;
        border: 1px solid #B7BACA;
        box-sizing: border-box;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1), inset 0px 2px 3px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        outline: none;
        font-family: $r;
        transition: all 0.3s;
        position: relative;
        cursor: pointer;

        .jq-selectbox__select-text {
            width: 100% !important;
            margin: 0;
        }

        .jq-selectbox__trigger {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 24px;
            width: 12px;
            height: 12px;
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 3.66528L6.01136 9.65392L5.05129 8.69385L11.0399 2.70521L12 3.66528Z' fill='%2378B82A'/%3E%3Cpath d='M5.98877 9.63599L0.000131678 3.64734L0.960205 2.68727L6.94884 8.67591L5.98877 9.63599Z' fill='%2378B82A'/%3E%3C/svg%3E%0A");
            background-position: 50%;
            background-repeat: no-repeat;
            margin: auto;
        }
    }

    .jq-selectbox__dropdown {
        top: 100% !important;
        border: 1px solid #B7BACA;
        background: #fff;
        left: 0 !important;
        right: 0 !important;
        bottom: auto !important;

        ul {
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                padding: 18px 16px 17px;
                font-size: 22px;
                text-transform: uppercase;
                color: #666;
                cursor: pointer;

                &:hover,&.sel {
                    color: #fff;
                }
            }
        }
    }
}


.burger {
    flex: 0 0 32px;
    z-index: 71;
    width: 32px;
    height: 32px;
    background: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 10C6 9.44772 6.44772 9 7 9H25C25.5523 9 26 9.44772 26 10C26 10.5523 25.5523 11 25 11H7C6.44772 11 6 10.5523 6 10ZM6 16C6 15.4477 6.44772 15 7 15H25C25.5523 15 26 15.4477 26 16C26 16.5523 25.5523 17 25 17H7C6.44772 17 6 16.5523 6 16ZM7 21C6.44772 21 6 21.4477 6 22C6 22.5523 6.44772 23 7 23H25C25.5523 23 26 22.5523 26 22C26 21.4477 25.5523 21 25 21H7Z' fill='%23666666'/%3E%3C/svg%3E%0A") 50% no-repeat;
    box-sizing: border-box;
    cursor: pointer;
    display: none;
    position: relative;

    @media all and (max-width: 1000px)  {
        display: block;
    }
}

.form-popup-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
    font-size: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 1010;
    background: rgba(0,0,0, 0.4);
    transition: all 0.5s;
    padding: 100px 10px 40px 10px;

    @media all and (max-width: 767px) {
        padding: 16px;
    }

    &:before {
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        content: '';
    }

    &.opened {
        opacity: 1;
        visibility: visible;
    }

    .formExtraWrapper {
        width: 460px;
        margin: auto;
        position: relative;   
        display: inline-block;
        white-space: normal;
        vertical-align: middle;
        text-align: left; 
        z-index: 10;    

        @media all and (max-width: 767px) {
            width: 100%;
        }

        .close-form {
            position: absolute;
            top: 25px;
            right: 25px;
            width: 26px;
            height: 26px;
            background: 50% url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.7071 2.70711C23.0976 2.31658 23.0976 1.68342 22.7071 1.29289C22.3166 0.902369 21.6834 0.902369 21.2929 1.29289L22.7071 2.70711ZM1.29289 21.2929C0.902369 21.6834 0.902369 22.3166 1.29289 22.7071C1.68342 23.0976 2.31658 23.0976 2.70711 22.7071L1.29289 21.2929ZM2.70711 1.29289C2.31658 0.902369 1.68342 0.902369 1.29289 1.29289C0.902369 1.68342 0.902369 2.31658 1.29289 2.70711L2.70711 1.29289ZM21.2929 22.7071C21.6834 23.0976 22.3166 23.0976 22.7071 22.7071C23.0976 22.3166 23.0976 21.6834 22.7071 21.2929L21.2929 22.7071ZM21.2929 1.29289L1.29289 21.2929L2.70711 22.7071L22.7071 2.70711L21.2929 1.29289ZM1.29289 2.70711L21.2929 22.7071L22.7071 21.2929L2.70711 1.29289L1.29289 2.70711Z' fill='%23322D50'/%3E%3C/svg%3E%0A") no-repeat;
            cursor: pointer;
            z-index: 101;

            @media all and (max-width: 767px) {
                right: 20px;
                top: 20px;
            }
        }
    }
}

.form-b {
    font-size: 0;
    padding: 32px;
    box-sizing: border-box;
    position: relative;
    background: #F0F1F6;
    border-radius: 16px;
    z-index: 100;

    @media all and (max-width: 767px) {
        padding: 20px;
    }

    .title {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        padding: 0 32px 16px 0;
        color: #428E81; 
    }

    .text {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #666666;
        padding-bottom: 24px;
    }

    .btn {
        display: inline-block;
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.08);
        font-weight: 600;
    }
}


.menu_burger {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    z-index: 100;
    transition: all 0.3s;
    transform: translate3d(-100%, 0, 0);
    background: #fff;
    font-size: 0;
    opacity: 0;
    box-shadow: 0 0 0 6000px rgba(#1E193D, .2);

    &.opened {    
        opacity: 1;
        transform:translate3d(0, 0, 0);
    }

    .menu_scroll {
        overflow: auto;
        position: absolute;
        top: 63px;
        left: 0;
        right: 0;
        bottom: 0; 
    }

    .menuClose {
        position: absolute;
        top: 32px;
        right: 32px;
        width: 24px;
        height: 24px;
        cursor: pointer;
        box-sizing: border-box;
        background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.7071 2.70711C23.0976 2.31658 23.0976 1.68342 22.7071 1.29289C22.3166 0.902369 21.6834 0.902369 21.2929 1.29289L22.7071 2.70711ZM1.29289 21.2929C0.902369 21.6834 0.902369 22.3166 1.29289 22.7071C1.68342 23.0976 2.31658 23.0976 2.70711 22.7071L1.29289 21.2929ZM2.70711 1.29289C2.31658 0.902369 1.68342 0.902369 1.29289 1.29289C0.902369 1.68342 0.902369 2.31658 1.29289 2.70711L2.70711 1.29289ZM21.2929 22.7071C21.6834 23.0976 22.3166 23.0976 22.7071 22.7071C23.0976 22.3166 23.0976 21.6834 22.7071 21.2929L21.2929 22.7071ZM21.2929 1.29289L1.29289 21.2929L2.70711 22.7071L22.7071 2.70711L21.2929 1.29289ZM1.29289 2.70711L21.2929 22.7071L22.7071 21.2929L2.70711 1.29289L1.29289 2.70711Z' fill='%23000000'/%3E%3C/svg%3E%0A") 50% no-repeat;    
    }

    .menu_top {

        .login_btn {
            display: inline-block !important;
            vertical-align: top;
            margin: 10px 10px 10px 6px;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style: none;

            > li {
                padding: 9px 0;
               

                > a {
                    display: block;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 27px;
                    color: #666666;
                    padding: 4px 10px;
                    text-decoration: none;
                    position: relative;

                
                    &:hover {
                    
                    }
                }

                &.opened {
                    > a span:before {
                        opacity: 1;
                    }
                }
            }
        }
    }

    @media all and (max-width: 767px){
        width: 100%;
        right: 0;
        bottom: auto;
        text-align: center;
        transform: translate3d(0, -100%, 0);

        .menu_scroll {
            position: static;
            padding: 48px 0;
        }
    }
}

.site_wrapper {
    position: relative;
    padding-top: 76px;

    @media all and (max-width: 767px){
        padding-top: 48px;
    }
}

.btn {
    display: block;
    border: none;
    outline: none;
    padding: 12px 24px;
    background: #A7E5D8;
    border-radius: 22px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #144C41;
    transition: all 0.3s;
    text-align: center;
    cursor: pointer;
    font-family: $m;
    text-decoration: none;

    &:hover {
        opacity: .8;
    }

    &.white {
        background: #ffffff;
        color: #167ad7;
    }

    &.lite {
        background: #A7E5D8;
        font-weight: 500;
        padding: 10px 22px;
        border: 2px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.08);
    }
}

.header {
    padding: 0 42px;
    background: #fff;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    right: 0;
    font-size: 0;
    transition: all 0.3s;

    
    @media all and (min-width: 768px) and (max-width: 1000px){
        padding: 0 22px 0 34px;
    }

    @media all and (max-width: 767px){
        padding: 0 8px 0 16px;
    }

    .header_inner {
        max-width: $siteWidth;
        margin: 0 auto;
        display: flex;
        align-items: center;
        padding: 16px 0;

        @media all and (max-width: 767px){
            padding: 6px 0;
        }
    }

    &.inner_page {
        .header_inner {
            box-shadow: 0 2px 0 0 #F0F1F6;
        }
    }

    &.shadow {
        box-shadow: 0 1px 15px 0 rgba(0,0,0, .2);

        .header_inner {
            box-shadow: none;
        }
    }

    .logo {
        flex: 0 0 120px;

        a {
            display: inline-block;
            vertical-align: top;
            text-decoration: none;

            @media all and (max-width: 767px) {
                max-width: 100px;
            }
        }

        @media all and (max-width: 1000px){
            flex: 1 1 auto;
        }
    }
}

.menu_top_wr {
    flex: 1 1 auto;
    text-align: right;
    margin-right: 28px;

    @media all and (max-width: 1000px) {
        display: none;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            display: inline-block;
            vertical-align: top;

            a {
                display: block;
                text-decoration: none;
                padding: 12px;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #333333;
                transition: all 0.3s;

                &:hover {
                    color: #167ad7;
                }
            }

            &.opened {
                color: #167ad7;
            }
        }
    }
}

.login_btn {
    flex: 0 0 auto;
    padding: 6px 16px 6px 36px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 8px;
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #167AD7;
    white-space: nowrap;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 4px;
        width: 24px;
        height: 24px;
        margin: auto;
        background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 21C14.2948 21 16.389 20.1411 17.9787 18.7273L17.9241 18.6887C16.4897 17.6846 14.4014 17 12 17C9.5986 17 7.51034 17.6846 6.07586 18.6887C6.05753 18.7015 6.03933 18.7144 6.02127 18.7273C7.61097 20.1411 9.70518 21 12 21ZM12 15C14.892 15 17.4972 15.8593 19.323 17.2331C20.3787 15.7585 21 13.9518 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 13.9518 3.62132 15.7585 4.67696 17.2331C6.50279 15.8593 9.10803 15 12 15ZM12 23C18.0751 23 23 18.0751 23 12C23 5.92487 18.0751 1 12 1C5.92487 1 1 5.92487 1 12C1 18.0751 5.92487 23 12 23ZM14 9C14 9.79685 13.7056 10.6192 13.2454 11.2152C12.7797 11.8184 12.3112 12 12 12C11.6888 12 11.2203 11.8184 10.7546 11.2152C10.2944 10.6192 10 9.79685 10 9C10 7.89543 10.8954 7 12 7C13.1046 7 14 7.89543 14 9ZM16 9C16 11.5 14.2091 14 12 14C9.79086 14 8 11.5 8 9C8 6.79086 9.79086 5 12 5C14.2091 5 16 6.79086 16 9Z' fill='%23666666'/%3E%3C/svg%3E%0A") 50% no-repeat;
    }

    @media all and (max-width: 767px) {
        display: none;
    }
}

.lang_block {
    flex: 0 0 62px;
    height: 32px;
    position: relative;

    @media all and (max-width: 1000px){
        margin-right: 12px;
    }

    .lang_active {
        padding: 6px 8px 6px 30px;
        background: #F0F1F6;
        border-radius: 16px;
        cursor: pointer;
        text-align: right;
        position: relative;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #167AD7;
        transition: all 0.3s;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 4px;
            margin: auto;
            width: 24px;
            height: 24px;
            background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22ZM12 4C11.7731 4 11.4816 4.0993 11.1324 4.43166C10.778 4.76892 10.4134 5.30422 10.0854 6.04218C9.83379 6.60826 9.61531 7.26765 9.44164 8H14.5584C14.3847 7.26765 14.1662 6.60826 13.9146 6.04218C13.5866 5.30422 13.222 4.76892 12.8676 4.43166C12.5184 4.0993 12.2269 4 12 4ZM8.25776 5.2299C7.89762 6.04022 7.60515 6.9765 7.39317 8H5.07026C5.8571 6.63979 7.03292 5.53275 8.44561 4.83099C8.38064 4.96122 8.31802 5.09431 8.25776 5.2299ZM7.09432 10H4.25203C4.08751 10.6392 4 11.3094 4 12C4 12.6906 4.08751 13.3608 4.25203 14H7.09432C7.03228 13.3521 7 12.6829 7 12C7 11.3171 7.03228 10.6479 7.09432 10ZM7.39317 16H5.07026C5.8571 17.3602 7.03292 18.4672 8.44561 19.169C8.38064 19.0388 8.31802 18.9057 8.25776 18.7701C7.89762 17.9598 7.60515 17.0235 7.39317 16ZM9.44164 16H14.5584C14.3847 16.7324 14.1662 17.3917 13.9146 17.9578C13.5866 18.6958 13.222 19.2311 12.8676 19.5683C12.5184 19.9007 12.2269 20 12 20C11.7731 20 11.4816 19.9007 11.1324 19.5683C10.778 19.2311 10.4134 18.6958 10.0854 17.9578C9.83379 17.3917 9.61531 16.7324 9.44164 16ZM14.8955 14H9.10446C9.03652 13.3624 9 12.6928 9 12C9 11.3072 9.03652 10.6376 9.10446 10H14.8955C14.9635 10.6376 15 11.3072 15 12C15 12.6928 14.9635 13.3624 14.8955 14ZM16.6068 16C16.3949 17.0235 16.1024 17.9598 15.7422 18.7701C15.682 18.9057 15.6194 19.0388 15.5544 19.169C16.9671 18.4672 18.1429 17.3602 18.9297 16H16.6068ZM19.748 14H16.9057C16.9677 13.3521 17 12.6829 17 12C17 11.3171 16.9677 10.6479 16.9057 10H19.748C19.9125 10.6392 20 11.3094 20 12C20 12.6906 19.9125 13.3608 19.748 14ZM15.5544 4.83099C16.9671 5.53275 18.1429 6.63979 18.9297 8H16.6068C16.3949 6.9765 16.1024 6.04022 15.7422 5.2299C15.682 5.09431 15.6194 4.96122 15.5544 4.83099Z' fill='%23666666'/%3E%3C/svg%3E%0A") 50% no-repeat;
        }
    }

    .lang_list {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #F0F1F6;
        border-radius: 0 0 16px 16px;
        padding: 4px;
        margin: 0;
        list-style: none;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;

        li {
            margin-bottom: 4px;

            &:last-child{
                margin-bottom: 0;
            }

            a {
                display: block;
                text-align: center;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                color: #666666;
                transition: all 0.3s;
                text-decoration: none;

                &:hover {
                    color: #167ad7;
                } 
            }
        }
    }

    &.opened {

        .lang_active{
            border-radius: 16px 16px 0 0;
        }

        .lang_list {
            opacity: 1;
            visibility: visible;
        }
    }
}

.footer {
    background: #131E30;
    padding: 0 42px;

    @media all and (min-width: 768px) and (max-width: 1000px){
        padding: 0 34px;
    }

    

    .block_inner {
        display: flex;
        padding: 40px 0;

        @media all and (max-width: 767px){
            display: block;
            padding: 20px 0;
        }
    }

    .left_block {
        flex: 0 0 200px;
        padding-right: 20px;

        @media all and (max-width: 1000px) {
            flex: 0 0 180px;
        }
    }

    .logo_footer {
        margin-bottom: 24px;
    }

    .social_block {

        a {
            display: inline-block;
            vertical-align: top;
            margin-right: 12px;
            width: 28px;
            text-decoration: none;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .middle_block {
        flex: 1 1 auto;
        padding-right: 20px;
        display: flex;

        @media all and (max-width: 1000px){
            display: block;
        }
    }

    .right_block {
        flex: 0 0 340px;

        @media all and (min-width: 1001px) and (max-width: 1100px){
            flex: 0 0 300px;
        }

        @media all and (min-width: 768px) and (max-width: 1000px) {
            flex: 0 0 280px;
        }

        ul {
            margin: 0;
            list-style: none;
            padding: 0;

            li {
                margin-bottom: 12px;

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    display: inline-block;
                    vertical-align: top;
                    text-decoration: none;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 19px;
                    color: #167AD7;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    @media all and (max-width: 767px){
        padding: 0 16px;
        text-align: center;

        .left_block {
            padding: 0 0 20px;
        }

        .middle_block {
            text-align: center;
            padding: 0 0 20px;
        }

        .right_block {
            text-align: center;
        }
    }
}

.phone_footer {
    flex: 0 0 220px;
    padding-right: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;

    .name {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #4FBFA9;
        padding: 4px;
    }

    @media all and (max-width: 1000px){
        padding: 0 0 32px;
    }

    @media all and (max-width: 767px) {
        padding-bottom: 20px;
    }
}

.address_footer {
    flex: 1 1 auto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;

    .name {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #4FBFA9;
        padding-bottom: 4px;
    }

    .inner {
        max-width: 240px;
    }
}

.top_block_banner {
    padding: 0 42px;

    @media all and (min-width: 768px) and (max-width: 1000px){
        padding: 0 34px;
    }

    @media all and (max-width: 767px){
        padding: 8px 16px 0;
    }

    .top_inner {
        padding: 80px 32px 40px;
        max-width: 1340px;
        margin: 0 auto;
        background: linear-gradient(112.42deg, #428E81 22.16%, #144C41 82.28%);
        border-radius: 32px;
        position: relative;
        overflow: hidden;

        @media all and (min-width: 768px) and (max-width: 1000px) {
            padding: 40px;
        }

        @media all and (max-width: 767px){
            padding: 40px 20px 20px;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 640px;
            background: url(../img/b_image.png) 0 0 no-repeat;

            @media all and (min-width: 1001px) and (max-width: 1200px) {
                width: 460px;
            }

            @media all and (min-width: 768px) and (max-width: 1000px) {
                width: 340px;
                background-position: 0 100%;
            }

            @media all and (max-width: 767px){
                display: none;
            }
        }

        .block_inner {
            position: relative;
            z-index: 1;
        }

        .title {
            font-style: normal;
            font-weight: bold;
            font-size: 50px;
            line-height: 59px;
            color: #FFFFFF;
            padding-bottom: 12px;

            @media all and (max-width: 767px){
                font-size: 30px;
                line-height: 36px;
                padding-bottom: 8px;
            }
        }

        .subtitle {
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            color: #A6FFEC;
            padding-bottom: 32px;

            @media all and (max-width: 767px){
                font-size: 20px;
                line-height: 24px;
                padding-bottom: 20px;
            }
        }

        .btn {
            display: inline-block;
        }

        .preim_list {
            padding-top: 80px;
            display: flex;

            @media all and (min-width: 1001px) and (max-width: 1200px) {
                padding-top: 68px;
            }

            @media all and (max-width: 1000px){
                padding: 48px 0 0;
                display: block;
            }

            .item_p {
                flex: 0 0 300px;
                margin-right: 100px;
                display: flex;
                align-items: center;

                .icon {
                    flex: 0 0 56px;
                    margin-right: 16px;
                }

                @media all and (min-width: 1001px) and (max-width: 1200px) {
                    flex: 0 0 280px;
                    margin-right: 40px;
                    align-items: flex-start;
                }

                @media all and (max-width: 1000px) {
                    max-width: 312px;
                    margin: 0 0 32px;
                }

                @media all and (max-width: 767px) {
                    margin-bottom: 20px;
                }

                .name {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 20px;
                    color: #A6FFEC;
                    flex: 1 1 auto;
                }

                &:last-child {
                    margin: 0;
                }
            }
        }
    }
}

iframe {
    max-width: 100%;
    width: 100%;
}

.text_video_wr {
    padding: 80px 34px 70px;

    .block_inner {
        display: flex;
    }

    .left_block {
        margin-right: 60px;
        flex: 1 1 auto;

        .title {
            font-style: normal;
            font-weight: 500;
            font-size: 50px;
            line-height: 64px;
            color: #131E30;
            padding-bottom: 18px;
        }

        .body {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #333333;
            padding-bottom: 24px;
        }

        .btn {
            display: inline-block;
        }
    }

    .right_block {
        flex: 0 0 560px;
    }

    @media all and (min-width: 1001px) and (max-width: 1200px) {
        padding: 64px 34px;

        .left_block {
            margin-right: 20px;
        }

        .right_block {
            flex: 0 0 460px;
        }
    }

    @media all and (min-width: 768px) and (max-width: 1000px){
        padding: 40px 34px;

        .block_inner {
            display: block;
        }

        .left_block {
            margin: 0 0 40px;

            .title {
                font-size: 40px;
                line-height: 48px;
            }
        }
    }

    @media all and (max-width: 767px){
        padding: 40px 16px;

        .block_inner {
            display: block;
        }

        .left_block {
            margin: 0 0 40px;
            text-align: center;

            .title {
                font-size: 30px;
                line-height: 36px;
                text-align: left;
            }

            .body {
                text-align: left;
            }
        }
    }
}

.number_block {
    padding: 0 10px;

    @media all and (min-width: 768px) and (max-width: 1000px) {
        padding: 0 34px;
    }

    @media all and (max-width: 767px){
        padding: 0 16px;
    }

    .block_inner {
        padding: 32px 40px;
        background: rgba(#A7E5D8, .2);
        border-radius: 32px;
        display: flex;
        justify-content: space-between;

        @media all and (min-width: 768px) and (max-width: 1200px) {
            padding: 32px;
        }

        @media all and (min-width: 768px) and (max-width: 1000px) {
            flex-wrap: wrap;
            padding-bottom: 12px;
        }

        @media all and (max-width: 767px) {
            display: block;
            padding: 20px;
        }

        .item {
            flex: 0 0 calc(25% - 15px);

            @media all and (min-width: 768px) and (max-width: 1000px) {
                flex: 0 0 calc(50% - 10px);
                margin-bottom: 20px;
            }

            .number {
                font-style: normal;
                font-weight: 500;
                font-size: 60px;
                line-height: 72px;
                color: #428E81;
                padding-bottom: 8px;
            }

            .text {
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 24px;
                color: #333333;
            }

            @media all and (max-width: 767px) {
                width: 100%;
                margin-bottom: 20px;

                .number {
                    font-size: 42px;
                    line-height: 50px;
                    padding-bottom: 4px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.service_block_list {
    font-size: 0;
    padding: 64px 42px;

    @media all and (min-width: 768px) and (max-width: 1000px) {
        padding: 40px 34px;
    }

    @media all and (max-width: 767px){
        padding: 40px 16px;
    }

    @media all and (max-width: 640px) {
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;

        .item_s {
            margin: 0 6px 10px;
        }
    }

    .title {
        font-style: normal;
        font-weight: 500;
        font-size: 50px;
        line-height: 59px;
        color: #131E30;
        padding-bottom: 24px;

        @media all and (min-width: 768px) and (max-width: 1000px) {
            padding: 0 0 20px;
            font-size: 40px;
            line-height: 48px;
        }

        @media all and (max-width: 767px){
            padding: 0 0 16px;
            font-size: 30px;
            line-height: 36px;
            text-align: left;
        }

        @media all and (max-width: 640px) {
            padding-left: 6px;
        }
    }

    .inner {
        margin-bottom: 20px;

        @media all and (min-width: 641px) {
            display: flex;
            flex-wrap: wrap;
        }
    }

    .btn {
        display: inline-block;
    }
}

.item_s {
    display: flex;
    flex-direction: column;
    text-decoration: none;

    @media all and (min-width: 1001px) {
        flex: 0 0 calc(33.33% - 14px);
        margin-right: 20px;
        margin-bottom: 20px;

        &:nth-child(3n){
            margin-right: 0;
        }
    }

    @media all and (min-width: 641px) and (max-width: 1000px) {
        flex: 0 0 calc(50% - 10px);
        margin-right: 20px;
        margin-bottom: 20px;

        &:nth-child(2n){
            margin-right: 0;
        }
    }

    @media all and (max-width: 640px){
        margin-bottom: 10px;
        text-align: left;
    }

    span {
        display: block;
    }

    img {
        border-radius: 32px 32px 0 0;
        width: 100%;
        height: 239px;
        object-fit: cover;
    }

    .image {
        margin-bottom: -32px;
    }

    .body {
        position: relative;
        transition: all 0.3s;
        padding: 32px;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        background: #F0F1F6;
        border-radius: 32px;

        .name {
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #167AD7;
            padding-bottom: 4px;
            width: 100%;
        }

        .text {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            flex: 1 1 auto;
            margin-bottom: 24px;
            width: 100%;
            color: #666;
        }

        .i_bottom {
            display: flex;
            width: 100%;
            align-items: center;

            .price_item {
                flex: 1 1 auto;

                .name_pr {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 16px;
                    color: #666666;
                }

                .price {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 19px;
                    color: #666666;

                    strong {
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 32px;
                        color: #333333;
                    }
                }
            }

            .btn {
                display: inline-block;
                vertical-align: top;
            }
        }

        @media all and (max-width: 1200px) {
            padding: 24px;
        }
    }

    &:hover {

        .body {
            background: #fff;
        }
    }
}

.news_block_list {
    font-size: 0;
    padding: 0 42px 64px;

    @media all and (min-width: 768px) and (max-width: 1000px) {
        padding: 0 34px 40px;
    }

    @media all and (max-width: 767px){
        padding: 0 16px 40px;
    }

    @media all and (max-width: 640px) {
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;

        .item_n {
            margin: 0 0 32px;
        }
    }

    .title {
        font-style: normal;
        font-weight: 500;
        font-size: 50px;
        line-height: 59px;
        color: #131E30;
        padding-bottom: 24px;

        @media all and (min-width: 768px) and (max-width: 1000px) {
            padding: 0 0 20px;
            font-size: 40px;
            line-height: 48px;
        }

        @media all and (max-width: 767px){
            padding: 0 0 16px;
            font-size: 30px;
            line-height: 36px;
            text-align: left;
        }

        @media all and (max-width: 640px) {
            padding-left: 6px;
        }
    }

    .inner {
        margin-bottom: 20px;

        @media all and (min-width: 641px) {
            display: flex;
            flex-wrap: wrap;
        }
    }

    .btn {
        display: inline-block;
    }
}

.item_n{
    display: block;
    text-decoration: none;

    @media all and (min-width: 1001px) {
        flex: 0 0 calc(33.33% - 27px);
        margin-right: 40px;
        margin-bottom: 20px;

        &:nth-child(3n){
            margin-right: 0;
        }
    }

    @media all and (min-width: 641px) and (max-width: 1000px) {
        flex: 0 0 calc(50% - 20px);
        margin-right: 40px;
        margin-bottom: 20px;

        &:nth-child(2n){
            margin-right: 0;
        }
    }

    @media all and (max-width: 640px){
        margin-bottom: 32px;
        text-align: left;
    }

    span {
        display: block;
    }

    img {
        border-radius: 24px;
        width: 100%;
        height: 160px;
        object-fit: cover;
    }

    .image {
        margin-bottom: 16px;

        a {
            display: block;
            text-decoration: none;
        }
    }

    .date {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #666666;
        padding-bottom: 8px;
    }

    a {
        display: block;
        text-decoration: none;
    }

    .text {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        color: #167AD7;
    }

    &:hover {

    }
}

.partner_block_wr {
    padding: 40px 42px 1px;
    background: #F0F1F6 url("data:image/svg+xml,%3Csvg width='590' height='184' viewBox='0 0 590 184' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1232_323)'%3E%3Cpath d='M111.281 434.178C110.286 433.574 11.1607 373.796 0.995276 262.514C0.331722 255.301 -5.53692e-05 248.131 -5.53692e-05 241.005C-0.0755422 202.236 9.72211 164.086 28.4692 130.152C47.2163 96.218 74.2952 67.6183 107.153 47.0489V46.8041C107.146 36.181 110.747 25.8705 117.367 17.5626C123.986 9.25478 133.231 3.44243 143.586 1.07828C153.941 -1.28588 164.792 -0.0615819 174.361 4.55049C183.929 9.16256 191.647 16.8888 196.249 26.4628C200.852 36.0368 202.066 46.8906 199.692 57.2451C197.319 67.5997 191.499 76.8407 183.186 83.4535C174.874 90.0662 164.561 93.6585 153.94 93.6414C143.318 93.6244 133.018 89.999 124.726 83.3595C96.1294 102.245 73.2098 128.557 58.4238 159.476C43.6378 190.395 37.5428 224.755 40.7922 258.875C49.0485 348.501 130.829 399.221 131.628 399.711C205.054 443.153 285.497 436.626 341.496 382.657C379.123 346.428 399.258 303.753 406.764 280.367C399.361 272.858 394.711 263.068 393.568 252.585C392.426 242.102 394.858 231.54 400.47 222.612C406.083 213.685 414.546 206.915 424.487 203.402C434.429 199.888 445.265 199.836 455.24 203.255C465.214 206.674 473.741 213.363 479.438 222.236C485.135 231.11 487.668 241.648 486.625 252.142C485.582 262.636 481.026 272.47 473.694 280.049C466.363 287.628 456.687 292.507 446.235 293.896C445.652 293.99 445.063 294.045 444.472 294.059C433.736 326.568 408.363 373.845 369.284 411.477C300.818 477.457 199.539 486.318 111.281 434.178Z' fill='white'/%3E%3Cpath d='M449.841 495C442.125 495.001 434.528 493.094 427.727 489.449C420.926 485.804 415.132 480.535 410.858 474.109C406.585 467.684 403.966 460.302 403.235 452.619C402.503 444.937 403.681 437.193 406.665 430.076C409.648 422.96 414.344 416.691 420.335 411.827C426.325 406.964 433.425 403.657 441.002 402.201C448.58 400.744 456.399 401.184 463.766 403.48C471.132 405.776 477.817 409.857 483.225 415.361C519.118 402.864 550.404 379.821 572.987 349.247C595.57 318.674 608.399 281.994 609.795 244.008C609.926 241.837 609.958 239.716 609.958 237.594C609.958 151.232 539.078 92.988 538.343 92.3515C471.265 39.5909 390.676 35.5111 327.97 81.597C299.777 102.583 276.001 128.925 258.003 159.114C265.509 166.586 270.259 176.385 271.474 186.908C272.689 197.43 270.298 208.054 264.693 217.041C259.087 226.028 250.598 232.847 240.614 236.382C230.63 239.917 219.743 239.959 209.732 236.501C199.721 233.043 191.18 226.291 185.505 217.347C179.83 208.404 177.357 197.799 178.491 187.267C179.624 176.736 184.298 166.901 191.746 159.37C199.195 151.84 208.978 147.061 219.495 145.814C240.784 108.128 269.679 75.2827 304.343 49.3662C380.918 -7.03361 482.474 -2.5621 563.096 60.7898C564.01 61.5242 654.308 133.901 649.837 245.476C648.138 291.505 632.588 335.948 605.223 372.994C577.857 410.039 539.949 437.962 496.458 453.108C495.247 464.622 489.81 475.278 481.2 483.015C472.589 490.753 461.416 495.023 449.841 495Z' fill='white'/%3E%3Cpath d='M65.2676 224.898C65.1766 209.118 67.6397 193.428 72.5612 178.436C81.8945 150.693 100.496 125.741 126.407 106.386L162.304 154.479C151.111 162.851 136.311 177.131 129.442 197.563C115.132 240.222 138.008 303.72 188.982 321.704C219.854 332.606 253.042 325.507 273.504 303.606C284.257 292.183 286.215 282.228 289.821 264.293C293.492 245.787 298.061 222.776 314.41 194.331C344.727 141.636 408.184 90.589 475.85 103.024C522.94 111.69 563.096 148.719 578.173 197.204C594.881 251.058 576.737 309.987 531.931 347.473L493.407 301.403C519.514 279.519 530.332 245.591 520.835 215.024C512.563 188.375 489.605 166.621 464.999 162.084C423.652 154.496 382.615 196.208 366.461 224.294C355.039 244.155 351.972 259.609 348.725 275.977C344.564 296.883 339.865 320.595 317.429 344.617C280.667 383.947 222.416 397.182 169.043 378.333C100.626 354.213 65.2676 286.765 65.2676 224.898Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1232_323'%3E%3Crect width='650' height='495' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") 100% 100% no-repeat;

    @media all and (min-width: 768px) and (max-width: 1000px) {
        padding: 40px 34px 1px;
        background: #F0F1F6;
    }

    @media all and (max-width: 767px){
        padding: 24px 16px 1px;
        background: #F0F1F6;
    }

    @media all and (max-width: 640px) {
        text-align: center;
    }

    .title {
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 44px;
        color: #131E30;
        padding-bottom: 24px;

        @media all and (max-width: 767px){
            padding: 0 0 24px;
            font-size: 30px;
            line-height: 36px;
            text-align: center;
        }
    }

    .inner {
        display: flex;
        flex-wrap:wrap;
        align-items: center;

        @media all and (max-width: 479px) {
            display: block;
        }

        .item {
            display: inline-block;
            vertical-align: top;
            text-decoration: none;
            margin-bottom: 40px;

            @media all and (min-width: 1200px) {
                flex: 0 0 calc(25% - 53px);
                margin-right: 70px;

                &:nth-child(4n){
                    margin-right: 0;
                }
            }

            @media all and (min-width: 1001px) and (max-width: 1199px) {
                flex: 0 0 calc(25% - 36px);
                margin-right: 47px;

                &:nth-child(4n){
                    margin-right: 0;
                }
            }

            @media all and (min-width: 768px) and (max-width: 1000px) {
                flex: 0 0 calc(33.33% - 27px);
                margin-right: 40px;

                &:nth-child(3n){
                    margin-right: 0;
                }
            }

            @media all and (min-width: 480px) and (max-width: 767px) {
                flex: 0 0 calc(50% - 10px);
                margin-right: 20px;
                text-align: center;

                &:nth-child(2n){
                    margin-right: 0;
                }
            }

            @media all and (max-width: 479px){
                display: block;
                max-width: 200px;
                text-align: center;
                margin: 0 auto 40px;
            }
        }
    }
}

.slick-dots {
    text-align: center;
    padding: 10px 0 12px;

    li {
        display: inline-block;
        vertical-align: top;
        margin: 0 4px;

        button {
            border: none;
            font-size: 0;
            padding: 0;
            width: 16px;
            height: 16px;
            background: #A7E5D8;
            border-radius: 50%;
            transition: all 0.3s;
            outline: none;
        }

        &.slick-active {

            button {
                background: #428E81;
            }
        }
    }
}

.inner_page_wr {
    background: url("data:image/svg+xml,%3Csvg width='650' height='495' viewBox='0 0 650 495' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1248_2683)'%3E%3Cpath d='M111.281 434.178C110.286 433.574 11.1607 373.796 0.995276 262.514C0.331722 255.301 -5.53692e-05 248.131 -5.53692e-05 241.005C-0.0755422 202.236 9.72211 164.086 28.4692 130.152C47.2163 96.218 74.2952 67.6183 107.153 47.0489V46.8041C107.146 36.181 110.747 25.8705 117.367 17.5626C123.986 9.25478 133.231 3.44243 143.586 1.07828C153.941 -1.28588 164.792 -0.0615819 174.361 4.55049C183.929 9.16256 191.647 16.8888 196.249 26.4628C200.852 36.0368 202.066 46.8906 199.692 57.2451C197.319 67.5997 191.499 76.8407 183.186 83.4535C174.874 90.0662 164.561 93.6585 153.94 93.6414C143.318 93.6244 133.018 89.999 124.726 83.3595C96.1294 102.245 73.2098 128.557 58.4238 159.476C43.6378 190.395 37.5428 224.755 40.7922 258.875C49.0485 348.501 130.829 399.221 131.628 399.711C205.054 443.153 285.497 436.626 341.496 382.657C379.123 346.428 399.258 303.753 406.764 280.367C399.361 272.858 394.711 263.068 393.568 252.585C392.426 242.102 394.858 231.54 400.47 222.612C406.083 213.685 414.546 206.915 424.487 203.402C434.429 199.888 445.265 199.836 455.24 203.255C465.214 206.674 473.741 213.363 479.438 222.236C485.135 231.11 487.668 241.648 486.625 252.142C485.582 262.636 481.026 272.47 473.694 280.049C466.363 287.628 456.687 292.507 446.235 293.896C445.652 293.99 445.063 294.045 444.472 294.059C433.736 326.568 408.363 373.845 369.284 411.477C300.818 477.457 199.539 486.318 111.281 434.178Z' fill='%23F7F7F7'/%3E%3Cpath d='M449.841 495C442.125 495.001 434.528 493.094 427.727 489.449C420.926 485.804 415.132 480.535 410.858 474.109C406.585 467.684 403.966 460.302 403.235 452.619C402.503 444.937 403.681 437.193 406.665 430.076C409.648 422.96 414.344 416.691 420.335 411.827C426.325 406.964 433.425 403.657 441.002 402.201C448.58 400.744 456.399 401.184 463.766 403.48C471.132 405.776 477.817 409.857 483.225 415.361C519.118 402.864 550.404 379.821 572.987 349.247C595.57 318.674 608.399 281.994 609.795 244.008C609.926 241.837 609.958 239.716 609.958 237.594C609.958 151.232 539.078 92.988 538.343 92.3515C471.265 39.5909 390.676 35.5111 327.97 81.597C299.777 102.583 276.001 128.925 258.003 159.114C265.509 166.586 270.259 176.385 271.474 186.908C272.689 197.43 270.298 208.054 264.693 217.041C259.087 226.028 250.598 232.847 240.614 236.382C230.63 239.917 219.743 239.959 209.732 236.501C199.721 233.043 191.18 226.291 185.505 217.347C179.83 208.404 177.357 197.799 178.491 187.267C179.624 176.736 184.298 166.901 191.746 159.37C199.195 151.84 208.978 147.061 219.495 145.814C240.784 108.128 269.679 75.2827 304.343 49.3662C380.918 -7.03361 482.474 -2.5621 563.096 60.7898C564.01 61.5242 654.308 133.901 649.837 245.476C648.138 291.505 632.588 335.948 605.223 372.994C577.857 410.039 539.949 437.962 496.458 453.108C495.247 464.622 489.81 475.278 481.2 483.015C472.589 490.753 461.416 495.023 449.841 495Z' fill='%23F7F7F7'/%3E%3Cpath d='M65.2676 224.898C65.1766 209.118 67.6397 193.428 72.5612 178.436C81.8945 150.693 100.496 125.741 126.407 106.386L162.304 154.479C151.111 162.851 136.311 177.131 129.442 197.563C115.132 240.222 138.008 303.72 188.982 321.704C219.854 332.606 253.042 325.507 273.504 303.606C284.257 292.183 286.215 282.228 289.821 264.293C293.492 245.787 298.061 222.776 314.41 194.331C344.727 141.636 408.184 90.589 475.85 103.024C522.94 111.69 563.096 148.719 578.173 197.204C594.881 251.058 576.737 309.987 531.931 347.473L493.407 301.403C519.514 279.519 530.332 245.591 520.835 215.024C512.563 188.375 489.605 166.621 464.999 162.084C423.652 154.496 382.615 196.208 366.461 224.294C355.039 244.155 351.972 259.609 348.725 275.977C344.564 296.883 339.865 320.595 317.429 344.617C280.667 383.947 222.416 397.182 169.043 378.333C100.626 354.213 65.2676 286.765 65.2676 224.898Z' fill='%23F7F7F7'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1248_2683'%3E%3Crect width='650' height='495' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") 100% calc(100% + 30px) no-repeat;

    @media all and (max-width: 1000px){
        background: none;
    }
}

.content_block_wr.inner_page {
    padding: 40px 42px;
    height: 100%;
    min-height: 600px;
    

    @media all and (min-width: 768px) and (max-width: 1000px) {
        padding: 40px 34px;
        background: none;
    }

    @media all and (max-width: 767px){
        padding: 40px 16px;
        background: none;
    }
}

.path_block {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #999999;
    padding-bottom: 4px;

    a {
        color: #167AD7;
        text-decoration: none;
    }

    span {
        display: inline-block;
        vertical-align: middle;
        padding: 0 2px;
    }
}

.servise_list_page {

    @media all and (min-width: 641px) {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 80px;
    }
}

.page_list {

    @media all and (min-width: 768px){
        padding-bottom: 80px;
        width: 100%;
    }

    .arrow {
        display: inline-block;
        height: 32px;
        width: 32px;
        background: #F0F1F6;
        cursor: pointer;
        position: relative;
        margin-right: 20px;
        border-radius: 50%;
        vertical-align: top;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            transition: all 0.3s;
            background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.7441 17.256L13.9226 16.0775L7.84516 10.0001L13.9226 3.92265L12.7441 2.74413L5.48814 10.0001L12.7441 17.256Z' fill='%23167AD7'/%3E%3C/svg%3E%0A") 50% no-repeat;
        }

        &.next {
            margin-left: 20px;
            margin-right: 0;

            &:before {
                transform: rotate(180deg);
            }
        }
    }

    .number {
        width: 32px;
        display: inline-block;
        vertical-align: top;
        height: 32px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
        color: #167AD7;
        text-decoration: none;
    }

    .number_active {
        width: 32px;
        display: inline-block;
        vertical-align: top;
        height: 32px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
        color: #000;
        border-radius: 50%;
        background: #A7E5D8;
    }

    .dots {
        width: 32px;
        display: inline-block;
        vertical-align: top;
        height: 32px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
        color: #000;
    }

    @media all and (max-width: 640px) {
        text-align: center;
        .arrow,.number,.number_active,.dots {
            width: 24px;
            height: 24px;
            line-height: 24px;
        }
    }
}

.news_list_page {
    @media all and (min-width: 641px) {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 20px;
    }

    .item_n {

        @media all and (min-width: 1001px) {
            margin-bottom: 40px;
        }

        @media all and (min-width: 1001px) {
            flex: 0 0 calc(33.33% - 27px);
            margin-right: 40px;

            &:nth-child(3n){
                margin-right: 0;
            }
        }

        @media all and (min-width: 641px) and (max-width: 1000px) {
            flex: 0 0 calc(50% - 20px);
            margin-right: 40px;

            &:nth-child(2n){
                margin-right: 0;
            }
        }

        @media all and (max-width: 640px){
            margin-bottom: 32px;
            text-align: left;
        }

        .image {

            img {
                height: 220px;
            }
        }
    }
}


.block_inner {
    font-size: 16px;
    line-height: 22px;
    color: #484848;

    p{
        margin: 0 0 24px;
    }
}

.content_page_column {
    display: flex;
    padding-bottom: 80px;

    .left_block {
        flex: 1 1 auto;
        margin-right: 40px;
    }

    .right_block {
        flex: 0 0 380px;

        .phone_footer {
            padding-left: 32px;
            color: #000;
        }
    }

    @media all and (max-width: 1200px) {
        display: block;
        padding-bottom: 20px;

        .left_block {
            margin: 0 0 20px;
        }
    }

    .number_block {
        padding: 0;
        margin-bottom: 32px;

        .block_inner {
            padding: 32px;
            background: rgba(#A7E5D8, .2);
            border-radius: 32px;     
            display: block;       

            @media all and (min-width: 768px) and (max-width: 1200px) {
                padding: 32px;
                display: flex;
                justify-content: space-between;
            }

            @media all and (min-width: 768px) and (max-width: 1000px) {
                flex-wrap: wrap;
                display: flex;
                padding-bottom: 12px;
            }

            @media all and (max-width: 767px) {
                display: block;
                padding: 20px;
            }

            .item {
                flex: 0 0 calc(25% - 15px);
                margin-bottom: 24px;

                @media all and (min-width: 768px) and (max-width: 1000px) {
                    flex: 0 0 calc(50% - 10px);
                    margin-bottom: 20px;
                }

                .number {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 60px;
                    line-height: 72px;
                    color: #428E81;
                    padding-bottom: 8px;
                }

                .text {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 24px;
                    color: #333333;
                }

                @media all and (max-width: 767px) {
                    width: 100%;
                    margin-bottom: 20px;

                    .number {
                        font-size: 42px;
                        line-height: 50px;
                        padding-bottom: 4px;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.date_new {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #666666;
    padding-bottom: 8px;
}

.image_new {
    font-size: 0;
    padding-bottom: 24px;

    img {
        width: 100%;
        border-radius: 24px;
    }
}

.form_left {
    padding: 40px 32px 32px;
    background: #F0F1F6;
    border-radius: 32px;

    .title {
        font-style: normal;
        font-weight: 500;
        font-size: 27px;
        line-height: 32px;
        text-align: center;
        color: #131E30;
        padding-bottom: 32px;
    }
}

.bg_block_left {
    padding: 32px;
    background: #F0F1F6;
    border-radius: 32px;
    margin-bottom: 32px;

    .title {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #333333;
        padding-bottom: 24px;
    }

    .price_btn {
        display: flex;
        width: 100%;
        align-items: center;
        padding-top: 32px;

        .price_item {
            flex: 1 1 auto;

            .name_pr {
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 16px;
                color: #666666;
            }

            .price {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                color: #666666;

                strong {
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 32px;
                    color: #333333;
                }
            }
        }

        .btn {
            display: inline-block;
            vertical-align: top;
            font-weight: 600;
            background: #A7E5D8;
            border: 2px solid rgba(255, 255, 255, 0.2);
            box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.08);
        }
    }
}

/**
 * @package PickMeUp
 * @author  Nazar Mokrynskyi <nazar@mokrynskyi.com>
 * @license 0BSD
 */
$border-radius                    : .4em !default;
$background                       : #fff !default;
$color                            : #2B2B2B !default;
$background-hover                 : transparent !default;
$color-hover                      : #88c5eb !default;
$nav-color                        : $color !default;
$nav-color-hover                  : $color-hover !default;
$not-in-month                     : #666 !default;
$not-in-month-hover               : #999 !default;
$disabled                         : #333 !default;
$selected                         : $color !default;
$selected-background              : #136a9f !default;
$not-in-month-selected-background : #17384d !default;
$day-of-week                      : $not-in-month-hover !default;
$today-background                 : $not-in-month-selected-background !default;
$today-color                      : $color-hover !default;

.pickmeup {
    background      : $background;
    border-radius   : $border-radius;
    -moz-box-sizing : content-box;
    box-sizing      : content-box;
    display         : inline-block;
    position        : absolute;
    touch-action    : manipulation;

    * {
        -moz-box-sizing : border-box;
        box-sizing      : border-box;
    }

    &.pmu-flat {
        position : relative;
    }

    &.pmu-hidden {
        display : none;
    }

    .pmu-instance {
        display    : inline-block;
        height     : 13.8em;
        padding    : .5em;
        text-align : center;
        width      : 15em;

        .pmu-button {
            color           : $color;
            cursor          : pointer;
            outline         : none;
            text-decoration : none;
        }

        .pmu-not-in-month {
            color : $not-in-month;
        }

        .pmu-selected {
            
        }

        .pmu-not-in-month.pmu-selected {
            background : $not-in-month-selected-background;
        }

        nav {
            color       : $nav-color;
            display     : -ms-flexbox;
            display     : -webkit-flex;
            display     : flex;

            .pmu-prev,
            .pmu-next {
                display : none;
                height  : 2em;
                width   : 1em;
            }
            .pmu-month {
                width : 14em;
            }
        }

        .pmu-years,
        .pmu-months {
            * {
                display     : inline-block;
                line-height : 3.6em;
                width       : 3.5em;
            }
        }

        .pmu-day-of-week {
            color  : $day-of-week;
            cursor : default;
        }

        .pmu-day-of-week,
        .pmu-days {
            * {
                display     : inline-block;
                line-height : 1.5em;
                width       : 2em;
            }
        }

        .pmu-day-of-week * {
            line-height : 1.8em;
        }
    }

    .pmu-instance:first-child .pmu-prev,
    .pmu-instance:last-child .pmu-next {
        display : block;
    }

    .pmu-instance:first-child,
    .pmu-instance:last-child {
        .pmu-month {
            width : 13em;
        }
    }

    .pmu-instance:first-child:last-child .pmu-month {
        width : 12em;
    }

    &:not(.pmu-view-days) .pmu-days,
    &:not(.pmu-view-days) .pmu-day-of-week,
    &:not(.pmu-view-months) .pmu-months,
    &:not(.pmu-view-years) .pmu-years {
        display : none;
    }
}


.calendar_block {
    width: 242px;

    .pickmeup {
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        font-family: $op;

        .pmu-instance {
            padding: 16px;
            width: 242px;
            height: auto;

            nav {
                position: relative;
                display: flex;
                align-items: center;
                padding-bottom: 8px;

                .pmu-prev.pmu-button {
                    font-size: 0;
                    flex: 0 0 32px;
                    height: 32px;
                    width: 32px;
                    background: #ECECEC url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0722 16.6761C10.8018 16.9464 10.3635 16.9464 10.0931 16.6761C9.82274 16.4057 9.82274 15.9674 10.0931 15.697L13.7902 11.9999L10.013 8.22261C9.74259 7.95225 9.74259 7.51391 10.013 7.24354C10.2833 6.97318 10.7217 6.97318 10.992 7.24354L15.0956 11.3472C15.4561 11.7077 15.4561 12.2921 15.0956 12.6526L11.0722 16.6761Z' fill='%23333333'/%3E%3C/svg%3E") 50% no-repeat;
                    box-shadow: 0px 1px 1px #DFDFDF;
                    border-radius: 50%;
                    opacity: .5;
                    transform: rotate(180deg);
                    visibility: visible !important;

                    &:hover {
                        opacity: 1;
                    }
                }

                .pmu-next.pmu-button {
                    font-size: 0;
                    flex: 0 0 32px;
                    height: 32px;
                    width: 32px;
                    background: #ECECEC url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0722 16.6761C10.8018 16.9464 10.3635 16.9464 10.0931 16.6761C9.82274 16.4057 9.82274 15.9674 10.0931 15.697L13.7902 11.9999L10.013 8.22261C9.74259 7.95225 9.74259 7.51391 10.013 7.24354C10.2833 6.97318 10.7217 6.97318 10.992 7.24354L15.0956 11.3472C15.4561 11.7077 15.4561 12.2921 15.0956 12.6526L11.0722 16.6761Z' fill='%23333333'/%3E%3C/svg%3E") 50% no-repeat;
                    box-shadow: 0px 1px 1px #DFDFDF;
                    border-radius: 50%;
                    opacity: .5;

                    &:hover {
                        opacity: 1;
                    }
                }

                .pmu-month {
                    flex: 1 1 auto;
                    padding: 0 10px;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 18px;
                    text-align: center;
                    color: #1155CC;
                }

                &.pmu-day-of-week {
                    padding-bottom: 0;

                    > div {
                        flex: 0 0 30px;
                        height: 30px;
                        width: 30px;
                        text-align: center;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 30px;
                        color: #878787;
                    }
                }
            }
        }

        .pmu-days {
            display: flex;
            flex-wrap: wrap;
            font-family: $op;

            .pmu-button {
                flex: 0 0 30px;
                height: 30px;
                width: 30px;
                text-align: center;
                font-style: normal;
                font-weight: 600;
                font-size: 13px;
                line-height: 30px;
                color: #212121;
                border-radius: 50%;

                &.pmu-selected {
                    background: #B1CBF8;
                }

                &.pmu-not-in-month {
                    color: #A0A0A0;
                }

                &.pmu-disabled {
                    color: #A0A0A0;
                    text-decoration-line: line-through;
                    pointer-events: none;
                }
            }
        }
    }
}

.contacts_page {

    .content_page_column {

        .name {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: #428E81;
            padding-bottom: 4px;
        }

        .body {
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 24px;
            color: #333333;
            max-width: 480px;

            a {
                text-decoration: none;
                color: #167AD7;
                font-size: 18px;
            }
        }

        .phone_content {
            margin-bottom: 32px;

            .body {
                a {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 32px;
                    line-height: 40px;
                    color: #333333;
                }
            }
        }

        .time_content {
            margin-bottom: 32px;
        }

        .address_content,.email_content {
            margin-bottom: 32px;
        }

        .social_block {
            margin-bottom: 40px;

            .name {
                margin-bottom: 8px;
            }

            .body {
                font-size: 0;

                a {
                    font-size: 0;
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 12px;
                }
            }
        }

        .left_block {
            margin-right: 20px;
        }

        .right_block {
            flex: 0 0 480px;

            .form_left {
                padding: 40px 80px;

                .btn {
                    margin: 0 auto;
                }
            }
        }

        @media all and (max-width: 767px)  {
            .left_block {
                margin-right: 0;
            }

            .right_block {

                .form_left {
                    padding: 40px 32px 32px;
                }
            }
        }
    }
}

.accor_block {
    transition: all 0.3s;
    background:  rgba(167, 229, 216, 0.2);
    border: 2px solid  rgba(167, 229, 216, 0.2);
    border-radius: 16px;
    margin-bottom: 8px;

    .accor_name {
        padding: 24px 76px 24px 24px;
        display: flex;
        align-items: flex-start;
        cursor: pointer;
        position: relative;

        &:after{
            content: '';
            position: absolute;
            top: 28px;
            right: 36px;
            width: 24px;
            height: 24px;
            transition: all 0.3s;
            background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.29285 8.70712L4.70706 7.29291L12 14.5858L19.2928 7.29291L20.7071 8.70712L12 17.4142L3.29285 8.70712Z' fill='%23428E81'/%3E%3C/svg%3E%0A") 50% no-repeat;
        }

        .icon {
            flex: 0 0 32px;
            text-align: center;
            margin-right: 16px;
            font-size: 0;
            height: 32px;
        }

        .name {
            font-style: normal;
            font-weight: normal;
            font-size: 26px;
            line-height: 32px;
            color: #144C41;
            flex: 1 1 auto;
        }

        @media all and (max-width: 767px) {
            padding: 16px 60px 16px 16px;

            &:after {
                top: 20px;
                right: 20px;
            }

            .name {
                font-size: 18px;
                line-height: 24px;
            }
        }
    }

    .accor_body {
        padding: 8px 32px 8px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #484848;
        display: none;

        p {
            margin: 0 0 24px;
        }

        @media all and (max-width: 767px) {
            padding: 8px 16px 8px;

            p{
                margin-bottom: 16px;
            }
        }
    }

    &.active {
        border: 2px solid #A7E5D8;
        box-shadow: 0px 4px 16px rgba(167, 229, 216, 0.4);
        background: #fff;
        margin-bottom: 24px;

        .accor_name {

            &:after {
                transform: rotate(180deg);
            }
        }
    }
}

@media all and (max-width: 767px) {
    h1 {
        font-size: 30px;
    }

    .path_block {
        display: none;
    }
}

button.btn,input.btn {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.08);
    font-weight: 600;
}

.reg_form {
    padding: 40px;
    background: #F0F1F6;
    border-radius: 32px;

    @media all and (max-width: 767px){
        padding: 16px;
    }

    .inner_form {
        max-width: 920px;
    }

    .form_title {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #144C41;
        padding-bottom: 8px;
    }

    .col_3 {
        @media all and (min-width: 1020px) {
            display: flex;
            align-items: flex-start;
            padding-bottom: 12px;

            .field {
                flex: 0 0 calc(28.262% - 20px);
                margin-right: 20px;

                &:last-child {
                    flex: 1 1 auto;
                    margin-right: 0;
                }
            }

            &.short {

                .field {
                    flex: 0 0 calc(28.262% - 20px);
                    margin-right: 20px;
                }
            }
        }
    }

    input.date_calendar {
        background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 2.99647C17.9999 2.44359 18.4475 1.99585 18.9998 1.99573C21.2089 1.99526 23.0002 3.78574 23.0006 5.99488L23 15.7574C23 16.8182 22.5786 17.8356 21.8284 18.5858L18.5858 21.8284C17.8356 22.5786 16.8182 23 15.7574 23H5C2.79086 23 1 21.2091 1 19L1.00065 6C1.00065 3.80518 2.76839 2.02317 4.95789 2.00023C5.55218 1.9993 5.99994 2.44696 6 2.99925C6.00006 3.55214 5.55246 3.99988 5.00022 4C3.89581 4.00024 3.00065 4.8956 3.00065 6.00005L3 19C3 20.1046 3.89543 21 5 21H15.7574C16.2878 21 16.7965 20.7893 17.1716 20.4142L20.4142 17.1716C20.7893 16.7965 21 16.2878 21 15.7573L21.0006 5.99573C21.0004 4.90056 20.1206 4.01143 19.0296 3.99594C18.4478 3.99642 18.0001 3.54876 18 2.99647ZM16 16V18C16 18.5523 15.5523 19 15 19C14.4477 19 14 18.5523 14 18V15C14 14.4477 14.4477 14 15 14H18C18.5523 14 19 14.4477 19 15C19 15.5523 18.5523 16 18 16H16ZM6 10C5.44772 10 5 9.55229 5 9C5 8.44772 5.44772 8 6 8H18C18.5523 8 19 8.44772 19 9C19 9.55229 18.5523 10 18 10H6ZM9 4C9 4.55228 8.55228 5 8 5C7.44772 5 7 4.55228 7 4V2C7 1.44772 7.44772 1 8 1C8.55228 1 9 1.44772 9 2V4ZM17 4C17 4.55228 16.5523 5 16 5C15.4477 5 15 4.55228 15 4V2C15 1.44772 15.4477 1 16 1C16.5523 1 17 1.44772 17 2V4ZM13 4C13 4.55228 12.5523 5 12 5C11.4477 5 11 4.55228 11 4V2C11 1.44772 11.4477 1 12 1C12.5523 1 13 1.44772 13 2V4Z' fill='%23666666'/%3E%3C/svg%3E%0A") calc(100% - 12px) 50% no-repeat #fff;
    }
}

.lk_block_wr {
    padding: 40px;
    background: #F0F1F6;
    border-radius: 32px;

    @media all and (max-width: 1020px){
        padding: 20px;
    }

    .name {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #144C41;
        padding-bottom: 16px;
    }

    .top_lk {
        padding-top: 40px;
        padding-bottom: 40px;
        display: flex;
        align-items: flex-start;

        @media all and (max-width: 1020px){
            display: block;
            padding: 10px 0 20px;
        }

        .left_lk {
            flex: 0 0 236px;
            margin-right: 24px;

            @media all and (max-width: 1020px){
                margin-bottom: 20px;
                max-width: 236px;
            }

            .image_lk {
                width: 160px;
                margin-bottom: 40px;

                .image {
                    width: 160px;
                    height: 160px;
                    border-radius: 50%;
                    background: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M73.2259 62.2787C72.1994 63.8069 70.1284 64.2136 68.6002 63.187C67.072 62.1605 66.6654 60.0895 67.6919 58.5613C71.3507 53.1146 73.3333 46.7093 73.3333 40C73.3333 21.5905 58.4095 6.66667 40 6.66667C21.5905 6.66667 6.66667 21.5905 6.66667 40C6.66667 58.4095 21.5905 73.3333 40 73.3333C46.7415 73.3333 53.1759 71.3315 58.6386 67.6398C60.1639 66.609 62.2361 67.0099 63.2669 68.5352C64.2977 70.0605 63.8968 72.1326 62.3715 73.1634C55.8149 77.5944 48.0825 80 40 80C17.9086 80 0 62.0914 0 40C0 17.9086 17.9086 0 40 0C62.0914 0 80 17.9086 80 40C80 48.0439 77.6174 55.7413 73.2259 62.2787ZM40 40C32.6362 40 26.6667 34.0305 26.6667 26.6667C26.6667 19.3029 32.6362 13.3333 40 13.3333C47.3638 13.3333 53.3333 19.3029 53.3333 26.6667C53.3333 34.0305 47.3638 40 40 40ZM40 33.3333C43.6819 33.3333 46.6667 30.3486 46.6667 26.6667C46.6667 22.9848 43.6819 20 40 20C36.3181 20 33.3333 22.9848 33.3333 26.6667C33.3333 30.3486 36.3181 33.3333 40 33.3333ZM60 56.6667C60 58.5076 58.5076 60 56.6667 60C54.8257 60 53.3333 58.5076 53.3333 56.6667C53.3333 52.9848 50.3486 50 46.6667 50H33.3333C29.6514 50 26.6667 52.9848 26.6667 56.6667C26.6667 58.5076 25.1743 60 23.3333 60C21.4924 60 20 58.5076 20 56.6667C20 49.3029 25.9695 43.3333 33.3333 43.3333H46.6667C54.0305 43.3333 60 49.3029 60 56.6667Z' fill='%23428E81'/%3E%3C/svg%3E%0A") 50% no-repeat;
                    position: relative;
                    background-color: #A7E5D8;
                    cursor: pointer;

                    label {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        cursor: pointer;

                        input {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            width: 100%;
                            opacity: 0;
                            height: 100%;
                            cursor: pointer;
                        }
                    }

                    .imgshow {
                        display: none;
                        width: 160px;
                        height: 160px;
                        object-fit: cover;
                        border-radius: 50%;
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        width: 40px;
                        height: 40px;
                        background: #fff url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.7443 9.41317C13.0696 9.08813 13.5967 9.08803 13.9221 9.41293L15.5888 11.077C15.9145 11.4021 15.9149 11.9298 15.5897 12.2555C15.2645 12.5812 14.7369 12.5816 14.4112 12.2564L13.3335 11.1805L10.589 13.9228C10.2635 14.248 9.73607 14.2479 9.41072 13.9226L8.33331 12.8452L5.58923 15.5893C5.2638 15.9147 4.73616 15.9147 4.41072 15.5893C4.08529 15.2638 4.08529 14.7362 4.41072 14.4108L7.74406 11.0774C8.06949 10.752 8.59713 10.752 8.92257 11.0774L10.0002 12.1551L12.7443 9.41317ZM6.66665 9.16668C5.28593 9.16668 4.16665 8.04739 4.16665 6.66668C4.16665 5.28596 5.28593 4.16668 6.66665 4.16668C8.04736 4.16668 9.16665 5.28596 9.16665 6.66668C9.16665 8.04739 8.04736 9.16668 6.66665 9.16668ZM6.66665 7.50001C7.12688 7.50001 7.49998 7.12691 7.49998 6.66668C7.49998 6.20644 7.12688 5.83334 6.66665 5.83334C6.20641 5.83334 5.83331 6.20644 5.83331 6.66668C5.83331 7.12691 6.20641 7.50001 6.66665 7.50001ZM12.5 17.5C12.9602 17.5 13.3333 17.8731 13.3333 18.3333C13.3333 18.7936 12.9602 19.1667 12.5 19.1667H4.16665C2.3257 19.1667 0.833313 17.6743 0.833313 15.8333V4.16668C0.833313 2.32573 2.3257 0.833344 4.16665 0.833344H15.8333C17.6743 0.833344 19.1666 2.32573 19.1666 4.16668V15.8333C19.1666 17.6743 17.6743 19.1667 15.8333 19.1667C15.3731 19.1667 15 18.7936 15 18.3333C15 17.8731 15.3731 17.5 15.8333 17.5C16.7538 17.5 17.5 16.7538 17.5 15.8333V4.16668C17.5 3.2462 16.7538 2.50001 15.8333 2.50001H4.16665C3.24617 2.50001 2.49998 3.2462 2.49998 4.16668V15.8333C2.49998 16.7538 3.24617 17.5 4.16665 17.5H12.5Z' fill='%23167AD7'/%3E%3C/svg%3E%0A") 50% no-repeat;
                        border-radius: 50%;
                        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
                    }
                }

                &.active {

                    .image {

                        .imgshow {
                            display: block;
                        }
                    }
                }
            }
        }

        .right_table {
            flex: 1 1 auto;
            display: flex;
            justify-content: space-between;

            @media all and (max-width: 767px){
                display: block;

            }

            .col {
                flex: 0 0 calc(50% - 10px);
            }

            .row_field {
                margin-bottom: 16px;
            }

            .r_name {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                color: #428E81;
                padding-bottom: 4px;
            }

            .r_value {
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 24px;
                color: #333333;
            }
        }
    }

    .lk_table {
        padding: 24px 24px 32px;
        background: #FFFFFF;
        border-radius: 6px;

        @media all and (max-width: 767px){
            padding: 16px;
        }

        .table_block {
            overflow: auto;
        }

        table {
            width: 100%;

            th {
                padding: 0 0 6px;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 16px;
                color: #999999;
                border-bottom: 2px solid #F0F1F6;
            }

            td {
                padding: 12px 0;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 24px;
                color: #333333;
                border-bottom: 1px solid #F0F1F6;
                white-space: nowrap;

                &:first-child {
                    padding-right: 20px;
                }

                &:nth-child(2n) {
                    padding-right: 20px;
                }
            }

            .pending {
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
                line-height: 20px;
                color: #167AD7;
                white-space: nowrap;
            }

            .success {
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
                line-height: 20px;
                color: #0FCB44;
                white-space: nowrap;
            }
        }
    }
}

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


.link_lk {
    font-size: 0;

    .name {
        padding: 12px 24px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #167AD7;
        text-decoration: none;
        border-radius: 22px;
        display: inline-block;
        vertical-align: top;

        &.active {
            background: #D0D4E4;
            color: #212121;
        }

        @media all and (max-width: 480px) {
            display: block;
            width: 100%;
            text-align: center;
        }
    }
}

.lk_sertifice_wr {
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media all and (max-width: 600px) {
        display: block;
        padding: 20px 0;
    }

    .ser_item {
        flex: 0 0 calc(50% - 10px);
        background: #F7F8FB;
        border-radius: 6px;
        margin-bottom: 20px;

        .left_image {
            width: 240px;
            display: inline-block;
            vertical-align: top;

            img {
                border-radius: 6px;
                margin: 0;
                width: 100%;
            }

            @media all and (max-width: 1230px) {
                width: 100%;
                display: block;
            }
        }

        .right_item {
            width: 0 0 calc(100% - 240px);
            padding: 32px 32px 32px;
            display: inline-block;
            vertical-align: top;

            @media all and (max-width: 1230px){
                width: 100%;
            }

            .name_i {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #428E81;
                padding-bottom: 22px;

                strong {
                    display: block;
                    padding-top: 4px;
                    font-weight: 500;
                    color: #212121;
                }
            }

            .date_i,.time_i {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #428E81;
                padding-bottom: 22px;

                span {
                    padding-top: 4px;
                    color: #666666;
                    display: block;
                }
            }

            .btn {
                font-weight: 600;
                box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.08);
            }

            @media all and (max-width: 767px){
                padding: 16px;
            }
        }
    }
}

.help_rating_form {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 440px;
    background: #F0F1F6 url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='0 0 120 120' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M109.839 93.4181C108.299 95.7104 105.193 96.3204 102.9 94.7806C100.608 93.2408 99.998 90.1343 101.538 87.842C107.026 79.6719 110 70.064 110 60C110 32.3858 87.6142 10 60 10C32.3858 10 10 32.3858 10 60C10 87.6142 32.3858 110 60 110C70.1123 110 79.7638 106.997 87.958 101.46C90.2459 99.9135 93.3541 100.515 94.9003 102.803C96.4465 105.091 95.8452 108.199 93.5572 109.745C83.7223 116.392 72.1238 120 60 120C26.8629 120 0 93.1371 0 60C0 26.8629 26.8629 0 60 0C93.1371 0 120 26.8629 120 60C120 72.0658 116.426 83.6119 109.839 93.4181ZM70 85C72.7614 85 75 87.2386 75 90C75 92.7614 72.7614 95 70 95H68.2573C59.973 95 53.2573 88.2843 53.2573 80C53.2573 78.6063 53.4515 77.2193 53.8344 75.8792L56.5503 66.3736C57.3089 63.7184 55.7715 60.951 53.1163 60.1924C52.6696 60.0648 52.2073 60 51.7427 60H50C47.2386 60 45 57.7614 45 55C45 52.2386 47.2386 50 50 50H51.7427C53.1364 50 54.5234 50.1942 55.8635 50.5771C63.829 52.853 68.4414 61.1553 66.1656 69.1208L63.4497 78.6264C63.322 79.0731 63.2573 79.5354 63.2573 80C63.2573 82.7614 65.4959 85 68.2573 85H70ZM60 45C54.4772 45 50 40.5228 50 35C50 29.4772 54.4772 25 60 25C65.5229 25 70 29.4772 70 35C70 40.5228 65.5229 45 60 45Z' fill='%23E1E3ED'/%3E%3C/svg%3E%0A") calc(100% - 20px) calc(100% - 20px) no-repeat;
    border-radius: 16px;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

    @media all and (max-width: 510px) {
        width: 300px;
    }

    &.opened {
        opacity: 1;
        visibility: visible;
    }

    .help_rating_form_inner {
        position: relative;
        padding: 32px;

        @media all and (max-width: 510px) {
            padding: 16px;
        }

        .close_help {
            position: absolute;
            top: 25px;
            right: 25px;
            width: 26px;
            height: 26px;
            background: 50% url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.7071 2.70711C23.0976 2.31658 23.0976 1.68342 22.7071 1.29289C22.3166 0.902369 21.6834 0.902369 21.2929 1.29289L22.7071 2.70711ZM1.29289 21.2929C0.902369 21.6834 0.902369 22.3166 1.29289 22.7071C1.68342 23.0976 2.31658 23.0976 2.70711 22.7071L1.29289 21.2929ZM2.70711 1.29289C2.31658 0.902369 1.68342 0.902369 1.29289 1.29289C0.902369 1.68342 0.902369 2.31658 1.29289 2.70711L2.70711 1.29289ZM21.2929 22.7071C21.6834 23.0976 22.3166 23.0976 22.7071 22.7071C23.0976 22.3166 23.0976 21.6834 22.7071 21.2929L21.2929 22.7071ZM21.2929 1.29289L1.29289 21.2929L2.70711 22.7071L22.7071 2.70711L21.2929 1.29289ZM1.29289 2.70711L21.2929 22.7071L22.7071 21.2929L2.70711 1.29289L1.29289 2.70711Z' fill='%23322D50'/%3E%3C/svg%3E%0A") no-repeat;
            cursor: pointer;
            z-index: 101;

            @media all and (max-width: 767px) {
                right: 20px;
                top: 20px;
            }
        }

        .inner {
            position: relative;
        }

        .title {
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #428E81;
            padding: 0 32px 16px 0;
        }

        .text {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #666666;
            padding-bottom: 24px;
        }

        .buttons {
            font-size: 0;

            .btn_check {
                display: inline-block;
                vertical-align: top;
                margin-right: 16px;

                label {
                    display: inline-block;
                    padding: 12px 24px;
                    position: relative;
                    cursor: pointer;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    color: #167AD7;
                    background: #FFFFFF;
                    border-radius: 22px;

                    input {
                        position: absolute;
                        top: 0;
                        opacity: 0;
                    }

                    &:hover {
                        background: #A7E5D8;
                        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.08);
                        color: #144C41;
                    }
                }
            }

            .rev_btn {
                padding: 12px;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #167AD7;
                cursor: pointer;
                display: inline-block;
                vertical-align: top;
            }
        }
    }
}