@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$r: 'Rubik', sans-serif;
$m: 'Montserrat', sans-serif;
$l: 'Lato', sans-serif;
$op: 'Open Sans', sans-serif;

body {
	padding: 0;
	margin: 0;
}

*{box-sizing: border-box;}

.sertificate_1 {
	width: 1190px;
	background: #fff url("data:image/svg+xml,%3Csvg width='860' height='526' viewBox='0 0 860 526' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1433_4575)'%3E%3Cpath d='M205.442 772.748C203.605 771.674 20.6043 665.281 1.83736 467.222C0.612334 454.384 -0.00017734 441.623 -0.00017734 428.94C-0.139538 359.939 17.9484 292.039 52.5585 231.644C87.1685 171.249 137.16 120.347 197.821 83.7376V83.3019C197.808 64.3949 204.456 46.0443 216.677 31.258C228.897 16.4717 245.965 6.12692 265.082 1.9192C284.199 -2.28852 304.232 -0.109516 321.896 8.09904C339.561 16.3076 353.809 30.0587 362.306 47.0985C370.803 64.1383 373.044 83.4558 368.663 101.885C364.281 120.314 353.537 136.761 338.19 148.53C322.844 160.3 303.806 166.693 284.197 166.663C264.588 166.633 245.571 160.18 230.264 148.363C177.47 181.975 135.156 228.805 107.859 283.835C80.562 338.865 69.3098 400.019 75.3086 460.745C90.5511 620.261 241.53 710.534 243.006 711.405C378.562 788.723 527.071 777.105 630.455 681.053C699.92 616.572 737.092 540.619 750.949 498.997C737.281 485.633 728.697 468.209 726.588 449.55C724.479 430.892 728.969 412.094 739.33 396.205C749.691 380.316 765.315 368.267 783.669 362.014C802.022 355.76 822.028 355.668 840.442 361.753C858.857 367.838 874.599 379.742 885.116 395.536C895.634 411.329 900.309 430.085 898.385 448.762C896.46 467.439 888.048 484.941 874.513 498.43C860.978 511.919 843.114 520.604 823.818 523.076C822.741 523.243 821.654 523.34 820.564 523.366C800.743 581.224 753.901 665.368 681.755 732.347C555.357 849.776 368.38 865.548 205.442 772.748Z' fill='%23F0F1F6'/%3E%3Cpath d='M830.475 881C816.23 881.001 802.206 877.607 789.65 871.12C777.095 864.634 766.396 855.255 758.508 843.819C750.619 832.383 745.784 819.244 744.433 805.571C743.082 791.898 745.258 778.115 750.765 765.449C756.273 752.783 764.943 741.625 776.002 732.969C787.062 724.313 800.169 718.428 814.158 715.836C828.147 713.244 842.583 714.026 856.182 718.112C869.782 722.199 882.123 729.463 892.107 739.259C958.372 717.017 1016.13 676.005 1057.82 621.59C1099.51 567.175 1123.2 501.892 1125.78 434.284C1126.02 430.421 1126.08 426.645 1126.08 422.869C1126.08 269.162 995.22 165.5 993.865 164.367C870.027 70.4637 721.247 63.2024 605.482 145.226C553.435 182.577 509.541 229.46 476.313 283.191C490.171 296.49 498.939 313.93 501.182 332.658C503.426 351.386 499.012 370.294 488.663 386.289C478.314 402.284 462.642 414.42 444.211 420.711C425.779 427.003 405.679 427.078 387.197 420.924C368.716 414.77 352.947 402.752 342.47 386.834C331.993 370.917 327.428 352.042 329.521 333.298C331.614 314.554 340.242 297.049 353.993 283.647C367.744 270.245 385.805 261.739 405.221 259.519C444.525 192.445 497.869 133.988 561.863 87.8618C703.233 -12.5185 890.722 -4.56014 1039.56 108.193C1041.25 109.5 1207.95 238.316 1199.7 436.898C1196.56 518.819 1167.86 597.92 1117.33 663.853C1066.81 729.787 996.829 779.483 916.538 806.441C914.302 826.933 904.265 845.898 888.369 859.67C872.472 873.441 851.845 881.041 830.475 881V881Z' fill='%23F0F1F6'/%3E%3Cpath d='M120.494 400.272C120.326 372.189 124.873 344.264 133.959 317.581C151.19 268.204 185.531 223.794 233.367 189.346L299.639 274.942C278.974 289.843 251.652 315.257 238.97 351.622C212.552 427.546 254.785 540.561 348.891 572.569C405.884 591.971 467.156 579.336 504.93 540.358C524.782 520.026 528.397 502.308 535.054 470.388C541.832 437.45 550.266 396.497 580.45 345.871C636.42 252.084 753.57 161.23 878.492 183.363C965.429 198.786 1039.56 264.689 1067.4 350.983C1098.24 446.832 1064.75 551.714 982.027 618.431L910.905 536.436C959.103 497.487 979.075 437.102 961.543 382.7C946.27 335.269 903.886 296.552 858.46 288.477C782.127 274.971 706.366 349.211 676.544 399.198C655.458 434.546 649.794 462.052 643.8 491.184C636.118 528.391 627.443 570.594 586.023 613.348C518.155 683.347 410.614 706.903 312.08 673.356C185.772 630.427 120.494 510.383 120.494 400.272Z' fill='%23F0F1F6'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1433_4575'%3E%3Crect width='1200' height='881' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") 100% 100% no-repeat;
	min-height: 1684px;
	position: relative;
	padding: 138px 207px 200px 133px;
	font-family: $op;

	&:before {
		content: '';
		position: absolute;
		top: 143px;
		right: 158px;
		width: 400px;
		height: 400px;
		background: url("data:image/svg+xml,%3Csvg width='400' height='400' viewBox='0 0 400 400' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M200 359.317L137.06 390.787C131.519 393.557 125 389.528 125 383.333V325C125 320.398 128.731 316.667 133.334 316.667C137.936 316.667 141.667 320.398 141.667 325V369.85L196.273 342.547C198.619 341.374 201.381 341.374 203.727 342.547L258.334 369.85V266.667C258.334 263.686 259.926 260.932 262.509 259.445C300.694 237.464 325 195.578 325 150C325 80.9646 269.036 25.0002 200 25.0002C130.965 25.0002 75.0002 80.9646 75.0002 150C75.0002 219.036 130.965 275 200 275C204.603 275 208.334 278.731 208.334 283.333C208.334 287.936 204.603 291.667 200 291.667C121.76 291.667 58.3335 228.24 58.3335 150C58.3335 71.7598 121.76 8.3335 200 8.3335C278.241 8.3335 341.667 71.7598 341.667 150C341.667 199.874 315.926 245.854 275 271.386V383.333C275 389.528 268.481 393.557 262.94 390.787L200 359.317ZM244.108 110.774C247.362 107.52 252.638 107.52 255.893 110.774C259.147 114.029 259.147 119.305 255.893 122.559L189.226 189.226C185.972 192.48 180.695 192.48 177.441 189.226L144.108 155.893C140.853 152.638 140.853 147.362 144.108 144.108C147.362 140.853 152.638 140.853 155.893 144.108L183.334 171.548L244.108 110.774Z' fill='%23F0F1F6'/%3E%3C/svg%3E%0A") 50% no-repeat;
	}

	&:after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: 120px;
		background: url("data:image/svg+xml,%3Csvg width='120' height='1684' viewBox='0 0 120 1684' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='120' height='1684' transform='matrix(1 0 0 -1 0 1684)' fill='%23144C41'/%3E%3Cpath d='M0 1684H120L80 0H0V1684Z' fill='%23428E81'/%3E%3Cpath d='M0 1684H120L40 0H0V1684Z' fill='%23A7E5D8'/%3E%3C/svg%3E%0A") 50% 0 no-repeat #A7E5D8;
	}

	> div {
		position: relative;
	}

	.logo {
		padding-bottom: 83px;
	}

	.title {
		font-style: normal;
		font-weight: 800;
		font-size: 112px;
		line-height: 207px;
		letter-spacing: -0.6px;
		color: #428E81;
		padding-bottom: 16px;
	}

	.id_number {
		font-style: normal;
		font-weight: 400;
		font-size: 22px;
		line-height: 24px;
		text-transform: uppercase;
		color: #9498B0;
		padding-bottom: 112px;
	}

	.name {
		font-style: normal;
		font-weight: 700;
		font-size: 74px;
		line-height: 80px;
		color: #212121;
		min-height: 190px;
		margin-bottom: 32px;
	}

	.text {
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 40px;
		letter-spacing: -0.2px;
		color: #000000;
		padding-bottom: 7px;
	}

	.subject {
		font-style: normal;
		font-weight: 700;
		font-size: 48px;
		line-height: 64px;
		color: #428E81;
		padding-bottom: 40px;
	}

	.count_answers {
		font-style: normal;
		font-weight: 300;
		font-size: 80px;
		line-height: 112px;
		color: rgba(#333333, .3);

		span {
			display: inline-block;
			margin-right: 20px;
			color: #333;

			&.answers {
				margin: 0 0 0 20px;
				color: rgba(#333333, .3);
			}
		}

		.answers_text {
			font-style: normal;
			font-weight: 400;
			font-size: 24px;
			line-height: 32px;
			letter-spacing: -0.6px;
			color: #428E81;
		}
	}
}

.sertificate_simple {
	width: 1684px;
	background: #fff url("data:image/svg+xml,%3Csvg width='860' height='526' viewBox='0 0 860 526' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1433_4575)'%3E%3Cpath d='M205.442 772.748C203.605 771.674 20.6043 665.281 1.83736 467.222C0.612334 454.384 -0.00017734 441.623 -0.00017734 428.94C-0.139538 359.939 17.9484 292.039 52.5585 231.644C87.1685 171.249 137.16 120.347 197.821 83.7376V83.3019C197.808 64.3949 204.456 46.0443 216.677 31.258C228.897 16.4717 245.965 6.12692 265.082 1.9192C284.199 -2.28852 304.232 -0.109516 321.896 8.09904C339.561 16.3076 353.809 30.0587 362.306 47.0985C370.803 64.1383 373.044 83.4558 368.663 101.885C364.281 120.314 353.537 136.761 338.19 148.53C322.844 160.3 303.806 166.693 284.197 166.663C264.588 166.633 245.571 160.18 230.264 148.363C177.47 181.975 135.156 228.805 107.859 283.835C80.562 338.865 69.3098 400.019 75.3086 460.745C90.5511 620.261 241.53 710.534 243.006 711.405C378.562 788.723 527.071 777.105 630.455 681.053C699.92 616.572 737.092 540.619 750.949 498.997C737.281 485.633 728.697 468.209 726.588 449.55C724.479 430.892 728.969 412.094 739.33 396.205C749.691 380.316 765.315 368.267 783.669 362.014C802.022 355.76 822.028 355.668 840.442 361.753C858.857 367.838 874.599 379.742 885.116 395.536C895.634 411.329 900.309 430.085 898.385 448.762C896.46 467.439 888.048 484.941 874.513 498.43C860.978 511.919 843.114 520.604 823.818 523.076C822.741 523.243 821.654 523.34 820.564 523.366C800.743 581.224 753.901 665.368 681.755 732.347C555.357 849.776 368.38 865.548 205.442 772.748Z' fill='%23F0F1F6'/%3E%3Cpath d='M830.475 881C816.23 881.001 802.206 877.607 789.65 871.12C777.095 864.634 766.396 855.255 758.508 843.819C750.619 832.383 745.784 819.244 744.433 805.571C743.082 791.898 745.258 778.115 750.765 765.449C756.273 752.783 764.943 741.625 776.002 732.969C787.062 724.313 800.169 718.428 814.158 715.836C828.147 713.244 842.583 714.026 856.182 718.112C869.782 722.199 882.123 729.463 892.107 739.259C958.372 717.017 1016.13 676.005 1057.82 621.59C1099.51 567.175 1123.2 501.892 1125.78 434.284C1126.02 430.421 1126.08 426.645 1126.08 422.869C1126.08 269.162 995.22 165.5 993.865 164.367C870.027 70.4637 721.247 63.2024 605.482 145.226C553.435 182.577 509.541 229.46 476.313 283.191C490.171 296.49 498.939 313.93 501.182 332.658C503.426 351.386 499.012 370.294 488.663 386.289C478.314 402.284 462.642 414.42 444.211 420.711C425.779 427.003 405.679 427.078 387.197 420.924C368.716 414.77 352.947 402.752 342.47 386.834C331.993 370.917 327.428 352.042 329.521 333.298C331.614 314.554 340.242 297.049 353.993 283.647C367.744 270.245 385.805 261.739 405.221 259.519C444.525 192.445 497.869 133.988 561.863 87.8618C703.233 -12.5185 890.722 -4.56014 1039.56 108.193C1041.25 109.5 1207.95 238.316 1199.7 436.898C1196.56 518.819 1167.86 597.92 1117.33 663.853C1066.81 729.787 996.829 779.483 916.538 806.441C914.302 826.933 904.265 845.898 888.369 859.67C872.472 873.441 851.845 881.041 830.475 881V881Z' fill='%23F0F1F6'/%3E%3Cpath d='M120.494 400.272C120.326 372.189 124.873 344.264 133.959 317.581C151.19 268.204 185.531 223.794 233.367 189.346L299.639 274.942C278.974 289.843 251.652 315.257 238.97 351.622C212.552 427.546 254.785 540.561 348.891 572.569C405.884 591.971 467.156 579.336 504.93 540.358C524.782 520.026 528.397 502.308 535.054 470.388C541.832 437.45 550.266 396.497 580.45 345.871C636.42 252.084 753.57 161.23 878.492 183.363C965.429 198.786 1039.56 264.689 1067.4 350.983C1098.24 446.832 1064.75 551.714 982.027 618.431L910.905 536.436C959.103 497.487 979.075 437.102 961.543 382.7C946.27 335.269 903.886 296.552 858.46 288.477C782.127 274.971 706.366 349.211 676.544 399.198C655.458 434.546 649.794 462.052 643.8 491.184C636.118 528.391 627.443 570.594 586.023 613.348C518.155 683.347 410.614 706.903 312.08 673.356C185.772 630.427 120.494 510.383 120.494 400.272Z' fill='%23F0F1F6'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1433_4575'%3E%3Crect width='1200' height='881' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") 100% 100% no-repeat;
	min-height: 1190px;
	position: relative;
	padding: 60px 240px 200px 120px;
	font-family: $op;


	&:after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: 120px;
		background: url("data:image/svg+xml,%3Csvg width='120' height='1684' viewBox='0 0 120 1684' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='120' height='1684' transform='matrix(1 0 0 -1 0 1684)' fill='%23144C41'/%3E%3Cpath d='M0 1684H120L80 0H0V1684Z' fill='%23428E81'/%3E%3Cpath d='M0 1684H120L40 0H0V1684Z' fill='%23A7E5D8'/%3E%3C/svg%3E%0A") 50% 0 no-repeat #A7E5D8;
	}

	> div {
		position: relative;
	}

	.top {
		display: flex;
		padding-bottom: 80px;
		justify-content: space-between;
	}

	.user_data {
		flex: 0 0 520px;
		display: flex;
		align-items: center;

		.ava {
			flex: 0 0 100px;
			margin-right: 40px;

			img {
				border-radius: 50%;
				width: 100px;
				height: 100px;
				object-fit: cover;
			}

			&.empty {
				height: 100px;
				width: 100px;
				background: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M43.9355 37.3672C43.3196 38.2841 42.077 38.5281 41.1601 37.9122C40.2432 37.2963 39.9992 36.0537 40.6151 35.1368C42.8104 31.8688 44 28.0256 44 24C44 12.9543 35.0457 4 24 4C12.9543 4 4 12.9543 4 24C4 35.0457 12.9543 44 24 44C28.0449 44 31.9055 42.7989 35.1832 40.5839C36.0984 39.9654 37.3416 40.2059 37.9601 41.1211C38.5786 42.0363 38.3381 43.2796 37.4229 43.8981C33.4889 46.5566 28.8495 48 24 48C10.7452 48 0 37.2548 0 24C0 10.7452 10.7452 0 24 0C37.2548 0 48 10.7452 48 24C48 28.8263 46.5704 33.4448 43.9355 37.3672ZM24 24C19.5817 24 16 20.4183 16 16C16 11.5817 19.5817 8 24 8C28.4183 8 32 11.5817 32 16C32 20.4183 28.4183 24 24 24ZM24 20C26.2091 20 28 18.2091 28 16C28 13.7909 26.2091 12 24 12C21.7909 12 20 13.7909 20 16C20 18.2091 21.7909 20 24 20ZM36 34C36 35.1046 35.1046 36 34 36C32.8954 36 32 35.1046 32 34C32 31.7909 30.2091 30 28 30H20C17.7909 30 16 31.7909 16 34C16 35.1046 15.1046 36 14 36C12.8954 36 12 35.1046 12 34C12 29.5817 15.5817 26 20 26H28C32.4183 26 36 29.5817 36 34Z' fill='%23428E81'/%3E%3C/svg%3E%0A") 50% no-repeat #A7E5D8;
				border-radius: 50%;

				img {
					opacity: 0;
				}
			}
		}

		.name {
			flex: 1 1 auto;

			span {
				font-family: $r;
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 20px;
				color: #428E81;
			}

			.ava_name {
				font-style: normal;
				font-weight: 500;
				font-size: 18px;
				line-height: 24px;
				color: #333333;
			}
		}
	}

	.title {
		font-style: normal;
		font-weight: 800;
		font-size: 112px;
		letter-spacing: -0.6px;
		color: #428E81;
		padding-bottom: 16px;
	}

	.id_number {
		font-style: normal;
		font-weight: 400;
		font-size: 22px;
		line-height: 24px;
		text-transform: uppercase;
		color: #9498B0;
	}

	.middle {
		display: flex;
		padding-bottom: 72px;

		.left {
			flex: 1 1 auto;
		}
	}

	.text {
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 40px;
		letter-spacing: -0.2px;
		color: #000000;
		padding-bottom: 7px;
	}

	.subject {
		font-style: normal;
		font-weight: 700;
		font-size: 48px;
		line-height: 64px;
		color: #428E81;
		padding-bottom: 120px;
	}

	.bottom {
		display: flex;
		justify-content: space-between;

		.body {
			flex: 0 0 calc(50% - 40px);

			.bottom_title {
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 28px;
				color: #428E81;
				font-family: $r;
				padding-bottom: 12px;
			}

			.bottom_text {
				font-style: normal;
				font-weight: 400;
				font-size: 20px;
				line-height: 28px;
				color: #333333;
				font-family: $r;
			}
		}
	}

	.count_answers {
		font-style: normal;
		font-weight: 300;
		font-size: 80px;
		line-height: 112px;
		color: rgba(#333333, .3);

		span {
			display: inline-block;
			margin-right: 20px;
			color: #333;

			&.answers {
				margin: 0 0 0 20px;
				color: rgba(#333333, .3);
			}
		}

		.answers_text {
			font-style: normal;
			font-weight: 400;
			font-size: 24px;
			line-height: 32px;
			letter-spacing: -0.6px;
			color: #428E81;
		}
	}
}

img {
	max-width: 100%;
}

.sertificate_points {
	padding: 60px 200px 120px 80px;
	width: 1684px;
	height: 1500px;
	position: relative;
	background: #fff url("data:image/svg+xml,%3Csvg width='1200' height='457' viewBox='0 0 1200 457' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.7' clip-path='url(%23clip0_1444_3095)'%3E%3Cpath d='M205.442 801.436C203.605 800.321 20.6043 689.979 1.83736 484.566C0.612334 471.252 -0.00017734 458.018 -0.00017734 444.864C-0.139538 373.3 17.9484 302.881 52.5585 240.243C87.1685 177.606 137.16 124.814 197.821 86.8458V86.394C197.808 66.7851 204.456 47.7532 216.677 32.418C228.897 17.0828 245.965 6.35395 265.082 1.99003C284.199 -2.37389 304.232 -0.114 321.896 8.39929C339.561 16.9126 353.809 31.1742 362.306 48.8466C370.803 66.519 373.044 86.5536 368.663 105.667C364.281 124.78 353.537 141.838 338.19 154.044C322.844 166.25 303.806 172.881 284.197 172.85C264.588 172.818 245.571 166.126 230.264 153.871C177.47 188.73 135.156 237.299 107.859 294.372C80.562 351.444 69.3098 414.869 75.3086 477.849C90.5511 643.287 241.53 736.911 243.006 737.815C378.562 818.004 527.071 805.954 630.455 706.336C699.92 639.462 737.092 560.689 750.949 517.522C737.281 503.661 728.697 485.59 726.588 466.239C724.479 446.888 728.969 427.392 739.33 410.913C749.691 394.434 765.315 381.938 783.669 375.453C802.022 368.967 822.028 368.872 840.442 375.183C858.857 381.493 874.599 393.84 885.116 410.219C895.634 426.599 900.309 446.051 898.385 465.422C896.46 484.792 888.048 502.944 874.513 516.934C860.978 530.923 843.114 539.93 823.818 542.494C822.741 542.668 821.654 542.768 820.564 542.795C800.743 602.801 753.901 690.069 681.755 759.534C555.357 881.323 368.38 897.68 205.442 801.436Z' fill='%23F0F1F6'/%3E%3Cpath d='M830.475 913.707C816.23 913.708 802.206 910.188 789.65 903.46C777.095 896.733 766.396 887.006 758.508 875.145C750.619 863.284 745.784 849.658 744.433 835.477C743.082 821.297 745.258 807.003 750.765 793.866C756.273 780.729 764.943 769.157 776.002 760.18C787.062 751.203 800.169 745.099 814.158 742.411C828.147 739.722 842.583 740.534 856.182 744.772C869.782 749.01 882.123 756.544 892.107 766.704C958.372 743.636 1016.13 701.101 1057.82 644.666C1099.51 588.231 1123.2 520.525 1125.78 450.407C1126.02 446.4 1126.08 442.484 1126.08 438.568C1126.08 279.155 995.22 171.644 993.865 170.469C870.027 73.0798 721.247 65.5489 605.482 150.618C553.435 189.355 509.541 237.979 476.313 293.704C490.171 307.497 498.939 325.585 501.182 345.008C503.426 364.431 499.012 384.041 488.663 400.63C478.314 417.219 462.642 429.805 444.211 436.33C425.779 442.855 405.679 442.933 387.197 436.551C368.716 430.168 352.947 417.704 342.47 401.195C331.993 384.687 327.428 365.112 329.521 345.672C331.614 326.232 340.242 308.077 353.993 294.178C367.744 280.278 385.805 271.456 405.221 269.154C444.525 199.59 497.869 138.962 561.863 91.1238C703.233 -12.9831 890.722 -4.72923 1039.56 112.21C1041.25 113.566 1207.95 247.164 1199.7 453.118C1196.56 538.08 1167.86 620.117 1117.33 688.499C1066.81 756.88 996.829 808.421 916.538 836.379C914.302 857.633 904.265 877.302 888.369 891.585C872.472 905.867 851.845 913.749 830.475 913.707Z' fill='%23F0F1F6'/%3E%3Cpath d='M120.494 415.132C120.326 386.006 124.873 357.044 133.959 329.37C151.19 278.16 185.53 232.102 233.367 196.375L299.638 285.149C278.974 300.602 251.652 326.961 238.97 364.675C212.551 443.418 254.784 560.629 348.89 593.825C405.884 613.947 467.155 600.843 504.93 560.418C524.781 539.331 528.396 520.956 535.053 487.85C541.831 453.69 550.266 411.216 580.45 358.711C636.419 261.442 753.569 167.216 878.492 190.17C965.428 206.165 1039.56 274.515 1067.4 364.012C1098.24 463.42 1064.75 572.196 982.026 641.39L910.905 556.351C959.102 515.955 979.074 453.329 961.542 396.907C946.27 347.716 903.886 307.561 858.459 299.187C782.127 285.179 706.366 362.175 676.544 414.017C655.457 450.678 649.794 479.205 643.799 509.419C636.118 548.007 627.442 591.776 586.022 636.118C518.154 708.716 410.613 733.146 312.079 698.353C185.771 653.831 120.494 529.33 120.494 415.132Z' fill='%23F0F1F6'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1444_3095'%3E%3Crect width='1200' height='913.706' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") 0 100% no-repeat;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: 120px;
		background: url("data:image/svg+xml,%3Csvg width='120' height='1684' viewBox='0 0 120 1684' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='120' height='1684' transform='matrix(1 0 0 -1 0 1684)' fill='%23144C41'/%3E%3Cpath d='M0 1684H120L80 0H0V1684Z' fill='%23428E81'/%3E%3Cpath d='M0 1684H120L40 0H0V1684Z' fill='%23A7E5D8'/%3E%3C/svg%3E%0A") 50% 0 no-repeat #A7E5D8;
	}

	.top {
		display: flex;
		align-items: center;
		padding-bottom: 80px;

		.title {
			font-family: $op;
			font-style: normal;
			font-weight: 800;
			font-size: 71px;
			line-height: 140%;
			color: #428E81;
			margin-right: 40px;
		}

		.activity {
			font-family: $r;
			font-style: normal;
			font-weight: 400;
			font-size: 20px;
			line-height: 28px;
			color: #666666;
			flex: 1 1 auto;

			div {
				width: 492px;
			}
		}

		.logo {
			flex: 0 0 180px;
		}
	}

	.user_block {
		position: relative;
		padding: 38px 200px 24px 164px;
		background: #F0F1F6;
		border-radius: 8px;
		display: flex;
		min-height: 148px;
		margin-right: 90px;
		z-index: 1;
		margin-bottom: 60px;

		&:before {
			content: '';
			position: absolute;
			top: -73px;
			right: -201px;
			width: 400px;
			height: 400px;
			z-index: -1;
			background: url("data:image/svg+xml,%3Csvg width='400' height='400' viewBox='0 0 400 400' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.3'%3E%3Cpath d='M200 359.317L137.06 390.787C131.519 393.557 125 389.528 125 383.333V325C125 320.398 128.731 316.667 133.333 316.667C137.935 316.667 141.666 320.398 141.666 325V369.85L196.273 342.547C198.619 341.374 201.38 341.374 203.726 342.547L258.333 369.85V266.667C258.333 263.686 259.925 260.932 262.509 259.445C300.694 237.464 325 195.578 325 150C325 80.9646 269.035 25.0002 200 25.0002C130.964 25.0002 74.9997 80.9646 74.9997 150C74.9997 219.036 130.964 275 200 275C204.602 275 208.333 278.731 208.333 283.333C208.333 287.936 204.602 291.667 200 291.667C121.759 291.667 58.333 228.24 58.333 150C58.333 71.7598 121.759 8.3335 200 8.3335C278.24 8.3335 341.666 71.7598 341.666 150C341.666 199.874 315.926 245.854 275 271.386V383.333C275 389.528 268.48 393.557 262.94 390.787L200 359.317ZM244.107 110.774C247.361 107.52 252.638 107.52 255.892 110.774C259.147 114.029 259.147 119.305 255.892 122.559L189.226 189.226C185.971 192.48 180.695 192.48 177.44 189.226L144.107 155.893C140.853 152.638 140.853 147.362 144.107 144.108C147.361 140.853 152.638 140.853 155.892 144.108L183.333 171.548L244.107 110.774Z' fill='%23A7E5D8'/%3E%3C/g%3E%3C/svg%3E%0A") 50% no-repeat;
		}

		.ava {
			position: absolute;
			top: 24px;
			left: 24px;
			width: 100%;
			height: 100%;

			img {
				border-radius: 50%;
				width: 100px;
				height: 100px;
				object-fit: cover;
			}

			&.empty {
				height: 100px;
				width: 100px;
				background: url(../img/ava.png) 50% no-repeat;
				border-radius: 50%;

				img {
					opacity: 0;
				}
			}
		}

		span {
			font-family: $r;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 20px;
			color: #428E81;
			padding-bottom: 4px;
		}

		.ava_name {
			font-family: $r;
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 24px;
			color: #333333;
		}

		.text {
			font-family: $r;
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			color: #333333;
		}

		.name {
			flex: 0 0 240px;
			margin-right: 32px;
		}

		.user_param {
			flex: 0 0 200px;
			margin-right: 32px;
		}

		.ball {
			position: absolute;
			top: 0;
			right: -90px;
			bottom: 0;
			margin: auto;
			width: 180px;
			height: 180px;
			background: #D8F9D0;
			box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
			border-radius: 50%;
			font-family: $r;
			font-style: normal;
			font-weight: 500;
			font-size: 69px;
			line-height: 180px;
			text-align: center;
			color: #144C41;
			z-index: 10;
		}
	}

	.indicators_block {
		padding-bottom: 76px;
		margin: 0 -12px;
		position: relative;
		z-index: 1;

		.indicators_title {
			text-align: center;
			padding-bottom: 40px;
			font-style: normal;
			font-weight: 500;
			font-size: 26px;
			line-height: 32px;
			color: #131E30;
		}

		.indicators_inner {
			display: flex;
			flex-wrap: wrap;

			.indicator {
				flex: 0 0 calc(25% - 24px);
				margin: 0 12px 60px; 
				text-align: center;
				font-family: $r;

				.number {
					margin: 0 auto 16px;
					width: 120px;
					height: 120px;
					background: rgba(#D0F1F9, .5);
					font-style: normal;
					font-weight: 500;
					font-size: 54px;
					line-height: 120px;
					color: #144C41;
					border-radius: 50%;

					&.color_green {
						background: rgba(#D8F9D0, .5);
					}

					&.color_red {
						background: rgba(#F9DAD0, .5);
					}

					&.color_yellow {
						background: rgba(#F9F7D0, .5);
					}
				}

				.name {
					font-style: normal;
					font-weight: 500;
					font-size: 18px;
					line-height: 24px;
					color: #428E81;
					padding-bottom: 8px;
				}

				.text {
					font-style: normal;
					font-weight: 400;
					font-size: 14px;
					line-height: 20px;
					color: #333333;
				}
			}
		}
	}

	.bottom {
		display: flex;
		justify-content: space-between;

		.body {
			flex: 0 0 480px;
			margin-right: 80px;

			.bottom_title {
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 28px;
				color: #428E81;
				font-family: $r;
				padding-bottom: 12px;
			}

			.bottom_text {
				font-style: normal;
				font-weight: 400;
				font-size: 20px;
				line-height: 28px;
				color: #333333;
				font-family: $r;
			}
		}

		.qr_code {
			flex: 0 0 280px;
			text-align: right;
		}
	}
}