@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$r: 'Rubik', sans-serif;
$m: 'Montserrat', sans-serif;
$l: 'Lato', sans-serif;
$op: 'Open Sans', sans-serif;

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
$g: 'Gilroy';

.video_block {
	max-width: 875px;
	margin: 0 auto;
	padding-bottom: 60px;

	@media all and (max-width: 1024px) {
		padding-bottom: 30px;
	}
}

.preim_block_temp {
	padding: 0px 0 35px;
	font-family: $g;

	@media all and (max-width: 1024px){
		padding-bottom: 20px;
	}

	.title {
		font-style: normal;
		font-weight: 700;
		font-size: 42px;
		line-height: 52px;
		color: #131E30;

		@media all and (max-width: 1024px) {
			font-size: 28px;
			line-height: 30px;
		}
	}

	.inner {
		display: flex;
		flex-wrap: wrap;
		padding-top: 40px;
		margin: 0 -25px;

		@media all and (max-width: 767px){
			display: block;
			margin: 0;
			padding-top: 20px;
		}

		.item {
			flex: 0 0 calc(33.33% - 50px);
			margin: 0 25px 25px;
			display: flex;
			flex-direction: column;

			@media all and (max-width: 1024px){
				flex: 0 0 calc(33.33% - 30px);
				margin: 0 15px 20px;
			}

			@media all and (max-width: 767px){
				width: 100%;
				margin: 0 0 20px;
			}

			.image{
				flex: 1 1 auto;
			}

			.name {
				padding: 29px 0 19px;
				font-style: normal;
				font-weight: 600;
				font-size: 32px;
				line-height: 39px;
				color: #131E30;

				@media all and (max-width: 1024px){
					font-size: 20px;
					line-height: 22px;
					padding: 15px 0;
				}
			}

			.body {
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 22px;
				color: #000000;
			}
		}
	}
}

.list_number{
	padding: 0px 0 20px;
	font-family: $g;

	@media all and (max-width: 1024px){
		padding-bottom: 10px;
	}

	.title {
		font-style: normal;
		font-weight: 700;
		font-size: 42px;
		line-height: 52px;
		color: #131E30;
		padding-bottom: 46px;

		@media all and (max-width: 1024px) {
			font-size: 28px;
			line-height: 30px;
			padding-bottom: 30px;
		}
	}

	.inner {
		counter-reset: section;
	}

	.item {
		margin-left: 47px;
		position: relative;
		padding: 30px;
		background: #CDF7E4;
		border-radius: 30px;
		font-style: normal;
		font-weight: 500;
		font-size: 32px;
		line-height: 39px;
		color: #131E30;
		margin-bottom: 40px;
		transition: all 0.3s;

		&:hover {
			background: #58E3A6;
		}

		&:before {
			counter-increment: section;
		  	content: counter(section) ".";
		  	position: absolute;
		  	top: 0;
		  	left: -73px;
		  	height: 79px;
		  	font-style: normal;
			font-weight: 700;
			font-size: 64px;
			line-height: 79px;
			color: #131E30;
			bottom: 0;
			margin: auto;
		}

		@media all and (max-width: 1024px) {
			padding: 15px;
			font-size: 24px;
			line-height: 30px;
		}

		@media all and (max-width: 767px){
			margin-bottom: 20px;
			margin-left: 20px;

			&:before {
				font-size: 30px;
				line-height: 40px;
				height: 40px;
				left: -30px;
			}
		}
	}
}

.format_test{
	padding: 0px 0 20px;
	font-family: $g;

	@media all and (max-width: 1024px){
		padding-bottom: 10px;
	}

	.title {
		font-style: normal;
		font-weight: 700;
		font-size: 42px;
		line-height: 52px;
		color: #131E30;
		padding-bottom: 81px;

		@media all and (max-width: 1024px) {
			font-size: 28px;
			line-height: 30px;
			padding-bottom: 30px;
		}
	}

	.inner {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -25px;

		@media all and (max-width: 1200px){
			margin: 0 -15px;
		}

		@media all and (max-width: 640px){
			display: block;
			margin: 0;
		}

		.item {
			display: flex;
			flex-direction: column;
			flex: 0 0 calc(33.33% - 50px);
			margin: 0 25px 30px;
			border: 3px solid #58E3A6;
			border-radius: 30px;
			text-decoration: none;
			padding: 26px 26px;
			background: #fff;
		    transition: all 0.3s;

		    &:hover {
		    	background: #CDF7E4;
		    }

			@media all and (max-width: 1200px){
				padding: 20px;
				flex: 0 0 calc(33.33% - 30px);
				margin: 0 15px 20px;
			}

			@media all and (max-width: 920px) {
				flex: 0 0 calc(50% - 30px);
			}

			@media all and (max-width: 640px){
				margin: 0 0 20px;
			}

			span {
				display: block;
			}

			.image {
				width: 200px;
				margin: 0 auto;

				img {
					width: 200px;
					height: 200px;
					object-fit: cover;
					border-radius: 50%;
				}
			}

			.name_f {
				font-weight: 700;
				font-size: 26px;
				line-height: 30px;
				color: #131E30;
				padding: 30px 0 11px;
				flex: 1 1 auto;

				@media all and (max-width: 1200px){
					padding: 20px 0 11px;
					font-size: 26px;
					line-height: 30px;
				}
			}

			.price {
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 19px;
				color: #131E30;
				padding-bottom: 30px;
			}

			.btn_f {
				padding: 15px 30px 15px 15px;
				font-weight: 700;
				font-size: 24px;
				line-height: 30px;
				color: #FFFFFF;
				position: relative;
				background: #58E3A6;
				border-radius: 30px;
				text-align: center;

				&:before {
					content: '';
					position: absolute;
					top: 0;
					bottom: 0;
					right: 10px;
					margin: auto;
					width: 40px;
					height: 40px;
					border-radius: 50%;
					background: #fff url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.27031 22.4438C7.97739 22.1508 7.81284 21.7534 7.81284 21.3391C7.81284 20.9248 7.97739 20.5274 8.27031 20.2344L16.0047 12.5L8.27031 4.76564C7.98569 4.47095 7.8282 4.07626 7.83176 3.66657C7.83532 3.25689 7.99965 2.865 8.28935 2.5753C8.57905 2.2856 8.97094 2.12127 9.38062 2.11771C9.79031 2.11415 10.185 2.27164 10.4797 2.55626L19.3188 11.3953C19.6117 11.6883 19.7762 12.0857 19.7762 12.5C19.7762 12.9143 19.6117 13.3117 19.3188 13.6047L10.4797 22.4438C10.1867 22.7367 9.78932 22.9012 9.375 22.9012C8.96068 22.9012 8.56333 22.7367 8.27031 22.4438Z' fill='%2358E3A6'/%3E%3C/svg%3E%0A") 50% no-repeat;
				}
			}	

			.stars_block {
				display: flex;
				align-items: center;
				padding-bottom: 30px;

				.name {
					font-style: normal;
					font-weight: 700;
					font-size: 20px;
					line-height: 25px;
					color: #131E30;
					margin-right: 15px;
				}

				.stars_main {
					display: flex;

					span {
						flex: 0 0 33px;
						height: 33px;
						margin-right: 9px;
						background: url("data:image/svg+xml,%3Csvg width='33' height='30' viewBox='0 0 33 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.5 0L21.3492 9.82561L32.1924 11.4012L24.3462 19.0494L26.1985 29.8488L16.5 24.75L6.80154 29.8488L8.65378 19.0494L0.807568 11.4012L11.6508 9.82561L16.5 0Z' fill='%23F0F1F6'/%3E%3C/svg%3E%0A") 50% no-repeat;
						background-size: contain;

						&:last-child {
							margin-right: 0 !important;
						}

						@media all and (max-width: 1200px) {
							flex: 0 0 24px;
							margin-right: 4px;
							height: 24px;
						}

						&.active {
							background: url("data:image/svg+xml,%3Csvg width='33' height='30' viewBox='0 0 33 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.5 0L21.3492 9.82561L32.1924 11.4012L24.3462 19.0494L26.1985 29.8488L16.5 24.75L6.80154 29.8488L8.65378 19.0494L0.807568 11.4012L11.6508 9.82561L16.5 0Z' fill='%23131E30'/%3E%3C/svg%3E%0A") 50% no-repeat;
							background-size: contain;
						}
					}
				}
			}
		}
	}
}

.slider_block_li {
	padding: 0px 0 120px;
	font-family: $g;

	@media all and (max-width: 1024px){
		padding-bottom: 70px;
	}

	.title {
		font-style: normal;
		font-weight: 700;
		font-size: 42px;
		line-height: 52px;
		color: #131E30;
		padding-bottom: 40px;

		@media all and (max-width: 1024px) {
			font-size: 28px;
			line-height: 30px;
			padding-bottom: 20px;
		}
	}

	.inner {
		margin: 0 -25px;

		@media all and (max-width: 1200px) {
			margin: 0 -15px;
		}
	}

	.item {
		padding: 24px;
		background: #F0F1F6;
		border-radius: 30px;
		margin: 0 25px;

		@media all and (max-width: 1200px){
			margin: 0 15px;
		}

		.top_i {
			display: flex;
			align-items: center;
			margin-bottom: 20px;

			.image {
				flex: 0 0 80px;

				img {
					width: 80px;
					height: 80px;
					object-fit: cover;
					border-radius: 50%;
				}
			}

			.right {
				flex: 1 1 auto;
				margin-left: 22px;

				.name {
					font-weight: 700;
					font-size: 24px;
					line-height: 30px;
					color: #131E30;
				}

				.date {
					font-weight: 400;
					font-size: 12px;
					line-height: 14px;
					color: #B0B0B0;
				}
			}
		}

		.body {
			font-weight: 400;
			font-size: 14px;
			line-height: 14px;
			color: #000000;
		}
	}

	.slick-arrow {
		position: absolute;
		border: none;
		font-size: 0;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		bottom: -60px;
		cursor: pointer;
		background: url("data:image/svg+xml,%3Csvg width='13' height='21' viewBox='0 0 13 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.7297 20.4438C12.0226 20.1508 12.1872 19.7534 12.1872 19.3391C12.1872 18.9248 12.0226 18.5274 11.7297 18.2344L3.99531 10.5L11.7297 2.76564C12.0143 2.47095 12.1718 2.07626 12.1682 1.66657C12.1647 1.25689 12.0004 0.864998 11.7107 0.575296C11.421 0.285597 11.0291 0.121271 10.6194 0.117712C10.2097 0.114151 9.815 0.271643 9.52031 0.556265L0.681248 9.39533C0.388324 9.68834 0.223768 10.0857 0.223768 10.5C0.223768 10.9143 0.388324 11.3117 0.681248 11.6047L9.52031 20.4438C9.81332 20.7367 10.2107 20.9012 10.625 20.9012C11.0393 20.9012 11.4367 20.7367 11.7297 20.4438Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat #F0F1F6;

		&:hover {
			background: url("data:image/svg+xml,%3Csvg width='13' height='21' viewBox='0 0 13 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.7297 20.4438C12.0226 20.1508 12.1872 19.7534 12.1872 19.3391C12.1872 18.9248 12.0226 18.5274 11.7297 18.2344L3.99531 10.5L11.7297 2.76564C12.0143 2.47095 12.1718 2.07626 12.1682 1.66657C12.1647 1.25689 12.0004 0.864998 11.7107 0.575296C11.421 0.285597 11.0291 0.121271 10.6194 0.117712C10.2097 0.114151 9.815 0.271643 9.52031 0.556265L0.681248 9.39533C0.388324 9.68834 0.223768 10.0857 0.223768 10.5C0.223768 10.9143 0.388324 11.3117 0.681248 11.6047L9.52031 20.4438C9.81332 20.7367 10.2107 20.9012 10.625 20.9012C11.0393 20.9012 11.4367 20.7367 11.7297 20.4438Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat #CDF7E4;
		}

		&.slick-prev {
			left: 50%;
			margin: 0 0 0 -50px;
		}

		&.slick-next {
			transform: rotate(180deg);
			right: 50%;
			margin: 0 -50px 0 0;
		}
	}
}

.inner_page_bg {
	background: #fff;
}

.form_bottom_l{
	max-width: 1180px;
	margin: 0 auto;
	background: #CDF7E4;
	border-radius: 30px;
	padding: 55px 85px 20px;
	display: flex;
	font-family: $g;

	@media all and (max-width: 1200px){
		padding: 30px;
	}

	@media all and (max-width: 767px) {
		padding: 20px;
		display: block;
	}

	.left {
		flex: 0 0 440px;
		margin-right: 50px;

		@media all and (max-width: 1024px) {
			flex: 0 0 300px
		} 



		.title {
			font-style: normal;
			font-weight: 700;
			font-size: 42px;
			line-height: 52px;
			color: #131E30;
			padding-bottom: 29px;

			@media all and (max-width: 1024px) {
				font-size: 28px;
				line-height: 30px;
				padding-bottom: 20px;
			}
		}

		button {
			padding: 15px 30px 15px 15px;
			font-weight: 700;
			font-size: 24px;
			line-height: 30px;
			color: #FFFFFF;
			position: relative;
			background: #58E3A6;
			border-radius: 30px;
			text-align: center;
			width: 100%;
			border: none;
			max-width: 410px;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				right: 10px;
				margin: auto;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background: #fff url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.27031 22.4438C7.97739 22.1508 7.81284 21.7534 7.81284 21.3391C7.81284 20.9248 7.97739 20.5274 8.27031 20.2344L16.0047 12.5L8.27031 4.76564C7.98569 4.47095 7.8282 4.07626 7.83176 3.66657C7.83532 3.25689 7.99965 2.865 8.28935 2.5753C8.57905 2.2856 8.97094 2.12127 9.38062 2.11771C9.79031 2.11415 10.185 2.27164 10.4797 2.55626L19.3188 11.3953C19.6117 11.6883 19.7762 12.0857 19.7762 12.5C19.7762 12.9143 19.6117 13.3117 19.3188 13.6047L10.4797 22.4438C10.1867 22.7367 9.78932 22.9012 9.375 22.9012C8.96068 22.9012 8.56333 22.7367 8.27031 22.4438Z' fill='%2358E3A6'/%3E%3C/svg%3E%0A") 50% no-repeat;
			}
		}

		@media all and (max-width: 767px) {
			margin: 0 0 20px;
			max-width: 100%;

			button{
				max-width: 100%;
			}
		}

		.field {
			margin-bottom: 25px;
			max-width: 410px;

			@media all and (max-width: 767px) {
				max-width: 100%;
			}

			input[type="text"] {
				border-radius: 60px;
				border: none;
				box-shadow: none;
				font-family: $g;
			}

			&.checkbox {

				label {
                    display: inline-block;
                    vertical-align: top;
                    padding: 0 0 0 28px;
                    position: relative;
                    font-style: normal;
                    font-weight: 400;
					font-size: 16px;
					line-height: 19px;
					color: #131E30;
                    cursor: pointer;
                    font-family: $g;

                    input {
                        opacity: 0;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    span {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background: #fff;

                        &:before {
                            content: '';
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            margin: auto;
                            opacity: 0;
                            background: #58E3A6;
                        }
                    }

                    a {
                    	color: #131E30;
                    }

                    input:checked + span:before {
                        opacity: 1;
                    }
                }
			}
		}
	}
}
