@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$r: 'Rubik', sans-serif;
$m: 'Montserrat', sans-serif;
$l: 'Lato', sans-serif;
$op: 'Open Sans', sans-serif;

.site_wrapper.test_inner_page {
	background: #F0F1F6;
}

.test_head {
	max-width: 780px;
	margin: 0 auto;
	padding: 0 0 40px;
	display: flex;

	&_left {
		flex: 1 1 auto;

		.name {
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 20px;
			color: #428E81;
			padding-bottom: 4px;
		}

		.text {
			font-style: normal;
			font-weight: 400;
			font-size: 20px;
			line-height: 24px;
			color: #131E30;
		}

		@media all and (max-width: 767px){
			padding-bottom: 20px;
		}
	}

	&_right {
		flex: 0 0 130px;

		#deadline-message {
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 24px;
			color: #f00;
			display: none;

			&.visible{
			  display: block;
			}
		}

		#countdown {
			display: flex;
			justify-content: space-between;

			&.hidden{
			  display: none;
			}

			.countdown-number {
				flex: 0 0 33px;
				text-align: center;

				.countdown-text {
					font-style: normal;
					font-weight: 400;
					font-size: 11px;
					line-height: 12px;
					color: #428E81;

					&.test_s {
						opacity: 0;
					}
				}

				.countdown-time {
					font-style: normal;
					font-weight: 400;
					font-size: 26px;
					line-height: 32px;
					color: #666666;
					display: block;

					&.seconds {
						color: #999;
					}
				}
			}

			.dotted {
				margin: 0 4px;
				padding-top: 19px;
				flex: 0 0 7px;
				font-style: normal;
				font-weight: 400;
				font-size: 26px;
				line-height: 32px;
				color: #666666;
			}
		}	

		@media all and (max-width: 767px){
			width: 130px;
		}	
	}

	@media all and (max-width: 767px){
		display: block;
	}
}

#test_main {
	padding: 24px 32px 32px;
	background: #FFFFFF;
	border-radius: 32px;
	max-width: 780px;
	margin: 0 auto;

	@media all and (max-width: 767px){
		padding: 20px;
	}

	&.hidden {
		opacity: 0.3;
		pointer-events: none;
	}

	.test_step_text {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		color: #167AD7;

		div {
			display: inline-block;
			vertical-align: top;
		}

		.step_text {
			color: #999999;
		}
	}

	.step_main_test {
		padding: 4px 0 32px;
		display: none;

		&.active_step {
			display: block;
		}

		.step_title {
			font-style: normal;
			font-weight: 500;
			font-size: 26px;
			line-height: 31px;
			color: #131E30;
			padding-bottom: 24px;
		}

		.step_label {
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 16px;
			color: #999999;
			padding-bottom: 8px;
		}
	}

	.btns_test {
		text-align: right;

		.btn_next {
			
		}
	}

	.btn {
		text-align: center;
		display: inline-block;
		vertical-align: top;
		padding: 12px 24px;
		background: #A7E5D8;
		border: 2px solid rgba(255, 255, 255, 0.2);
		box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.08);
		border-radius: 22px;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		color: #144C41;
		cursor: pointer;
		transition: all 0.3s;
		font-family: $r;

		&:hover {
			opacity: .8;
		}
	}

	.step_field{
		margin-bottom: 8px;
	}

	.radio_field {

		label {
			display: block;
			position: relative;
			cursor: pointer;

			input {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
			}

			.field_name {
				display: block;
				padding: 15px 16px 15px 51px;
				background: rgba(#F0F1F6, .5);
				border-radius: 6px;
				position: relative;
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 24px;
				color: #484848;
				border: 1px solid transparent;
				transition: all 0.3s;

				&:hover {
					background: #FFFFFF;
					border-color: #B7BACA;
				}

				.check {
					position: absolute;
					top: 15px;
					left: 15px;
					width: 24px;
					height: 24px;
					border: 1px solid #B7BACA;
					box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
					border-radius: 50%;
					transition: all 0.3s;

					&:before {
						content: '';
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						width: 12px;
						height: 12px;
						background: #428E81;
						border-radius: 50%;
						transition: all 0.3s;
						margin: auto;
						opacity: 0;
					}
				}
			}

			input:checked + .field_name {
				background: #fff;
				border-color: #A7E5D8;

				.check {
					border-color: #428E81;
					box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);

					&:before {
						opacity: 1;
					}
				}
			}
		}
	}

	.checkbox_field {
		label {
			display: block;
			position: relative;
			cursor: pointer;

			input {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
			}

			.field_name {
				display: block;
				padding: 15px 16px 15px 51px;
				background: rgba(#F0F1F6, .5);
				border-radius: 6px;
				position: relative;
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 24px;
				color: #484848;
				border: 1px solid transparent;
				transition: all 0.3s;

				&:hover {
					background: #FFFFFF;
					border-color: #B7BACA;
				}

				.check {
					position: absolute;
					top: 15px;
					left: 15px;
					width: 24px;
					height: 24px;
					border: 1px solid #B7BACA;
					box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
					border-radius: 4px;
					transition: all 0.3s;

					&:before {
						content: '';
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						width: 16px;
						height: 14px;
						background: url("data:image/svg+xml,%3Csvg width='16' height='13' viewBox='0 0 16 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.39662 8.23387L13.6203 0L16 2.38306L5.39662 13L0 7.59577L2.37971 5.2127L5.39662 8.23387Z' fill='%23428E81'/%3E%3C/svg%3E%0A") 50% no-repeat;
						transition: all 0.3s;
						margin: auto;
						opacity: 0;
					}
				}
			}

			input:checked + .field_name {
				background: #fff;
				border-color: #A7E5D8;

				.check {
					border-color: #428E81;
					box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);

					&:before {
						opacity: 1;
					}
				}
			}
		}
	}

	audio {
		width: 100%;
	}

	.step_audio {
		padding-bottom: 24px;
	}

	.images {
		font-size: 0;
		display: flex;
		flex-wrap:wrap;

		a {
			display: inline-block;
			vertical-align: top;
			margin-right: 8px;
			margin-bottom: 8px;
			text-decoration: none;
			font-size: 0;
			position: relative;

			@media all and (min-width: 768px){
				width: calc(25% - 6px);

				&:last-child {
					margin-right: 0;
				}
			}

			@media all and (max-width: 767px){
				width: calc(50% - 4px);

				&:nth-child(2n) {
					margin-right: 0;
				}
			}
			

			&:before {
				content: '';
				position: absolute;
				bottom: 4px;
				right: 4px;
				width: 32px;
				height: 32px;
				border-radius: 50%;
				background: rgba(0,0,0, .4) url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.1052 10.1052V8.07012H12.1402V10.1052H14.1753V12.1402H12.1402V14.1753H10.1052V12.1402H8.07012V10.1052H10.1052Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 11.1227C4 7.18895 7.18895 4 11.1227 4C15.0565 4 18.2454 7.18895 18.2454 11.1227C18.2454 12.7226 17.7179 14.1993 16.8274 15.3884L21 19.561L19.561 21L15.3884 16.8274C14.1993 17.7179 12.7226 18.2454 11.1227 18.2454C7.18895 18.2454 4 15.0565 4 11.1227ZM11.1227 6.03506C8.31288 6.03506 6.03506 8.31288 6.03506 11.1227C6.03506 13.9326 8.31288 16.2104 11.1227 16.2104C13.9326 16.2104 16.2104 13.9326 16.2104 11.1227C16.2104 8.31288 13.9326 6.03506 11.1227 6.03506Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
			}

			img {
				display: block;
				border-radius: 6px;
				width: 100%;
			}
		}
	}

	.sortable {
		padding: 0;
		margin: 0;
		list-style: none;

		li {
			margin-bottom: 8px;
			padding: 16px 52px;
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 24px;
			color: #484848;
			cursor: move;
			position: relative;
			background: rgba(#F0F1F6, .5);
			border-radius: 6px;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 16px;
				width: 24px;
				height: 24px;
				background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 7C9.10458 7 10 6.10458 10 5C10 3.89542 9.10458 3 8 3C6.89542 3 6 3.89542 6 5C6 6.10458 6.89542 7 8 7Z' fill='%23B7BACA'/%3E%3Cpath d='M16 7C17.1046 7 18 6.10458 18 5C18 3.89542 17.1046 3 16 3C14.8954 3 14 3.89542 14 5C14 6.10458 14.8954 7 16 7Z' fill='%23B7BACA'/%3E%3Cpath d='M10 12C10 13.1046 9.10458 14 8 14C6.89542 14 6 13.1046 6 12C6 10.8954 6.89542 10 8 10C9.10458 10 10 10.8954 10 12Z' fill='%23B7BACA'/%3E%3Cpath d='M16 14C17.1046 14 18 13.1046 18 12C18 10.8954 17.1046 10 16 10C14.8954 10 14 10.8954 14 12C14 13.1046 14.8954 14 16 14Z' fill='%23B7BACA'/%3E%3Cpath d='M10 19C10 20.1046 9.10458 21 8 21C6.89542 21 6 20.1046 6 19C6 17.8954 6.89542 17 8 17C9.10458 17 10 17.8954 10 19Z' fill='%23B7BACA'/%3E%3Cpath d='M16 21C17.1046 21 18 20.1046 18 19C18 17.8954 17.1046 17 16 17C14.8954 17 14 17.8954 14 19C14 20.1046 14.8954 21 16 21Z' fill='%23B7BACA'/%3E%3C/svg%3E%0A") 50% no-repeat;
				margin: auto;
			}

			&.ui-sortable-helper {
				background: #F7F8FB;
				filter: drop-shadow(0px 6px 20px rgba(0, 0, 0, 0.16));
			}
		}
	}

	.btn_bind {
		width: 134px;
		margin: 0 auto 12px;
		display: block;
	}

	.bind_list_wr {
		display: flex;
		justify-content: space-between;

		.bind_list {
			padding: 0;
			margin: 0;
			list-style: none;
			flex: 0 0 calc(50% - 20px);

			@media all and (max-width: 767px){
				flex: 0 0 calc(50% - 5px);
			}

			li {
				margin-bottom: 8px;
				cursor: pointer;
				background: rgba(#F0F1F6, .5);
				border-radius: 6px;
				padding: 9px 16px;
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 22px;
				color: #333333;
				border: 1px solid #B7BACA;
				transition: all 0.3s;

				&.active {
					background: #FFFFFF;
					border: 1px solid #B7BACA;
					box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
					border-radius: 6px;
				}

				&.bg1 {
					background: #D0F1F9;
					border-color: rgba(0, 0, 0, 0.08);
					pointer-events: none;
				}

				&.bg2 {
					background: #F9F7D0;
					border-color: rgba(0, 0, 0, 0.08);
					pointer-events: none;
				}

				&.bg3 {
					background: #F9DAD0;
					border-color: rgba(0, 0, 0, 0.08);
					pointer-events: none;
				}

				&.bg4 {
					background: #F9D0F5;
					border-color: rgba(0, 0, 0, 0.08);
					pointer-events: none;
				}

				&.bg5 {
					background: #D8F9D0;
					border-color: rgba(0, 0, 0, 0.08);
					pointer-events: none;
				}

				&.bg6 {
					background: #D1D0F9;
					border-color: rgba(0, 0, 0, 0.08);
					pointer-events: none;
				}
			}

			&.disabled {

				li {
					pointer-events: none;
					opacity: 0.5;

					&.active {
						opacity: 1;
						pointer-events: all;
					}
				}
			}
		}
	}
}


.address_footer .inner {
	@media all and (max-width: 767px) {
		margin: 0 auto;
	}
}

.lg-backdrop {
	background: rgba(0,0,0, .6);
}

.result_wrapper {

	.block_inner {
		max-width: 780px;
	}

	.result_top {
		display: flex;
		justify-content: space-between;
		padding-bottom: 48px;

		.left {
			flex: 0 0 calc(50% - 10px);
			padding-right: 20px;

			.text {
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 22px;
				color: #333333;
				padding-bottom: 20px;
			}
		}

		.right {
			flex: 0 0 calc(50% - 10px);

			form {
				padding: 40px 32px;
				background: #FFFFFF;
				border-radius: 32px;

				.title {
					font-style: normal;
					font-weight: 500;
					font-size: 26px;
					line-height: 32px;
					color: #131E30;
					padding-bottom: 20px;
				}

				.btn {
					width: 134px;
					margin: 0 auto;
					display: block;
				}
			}
		}
	}

	.result_data {
		padding-bottom: 20px;

		&:last-child {
			padding-bottom: 0;
		}

		.name {
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 20px;
			color: #428E81;
			padding-bottom: 4px;
		}

		.value {
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 22px;
			color: #666666;

			&.main_v {
				font-size: 20px;
				line-height: 24px;
				color: #131E30;
			}
		}
	}

	.result_bottom {
		padding: 24px;
		background: #F7F8FB;
		border-radius: 32px;
		display: flex;
		align-items: center;

		.left {
			flex: 1 1 auto;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 22px;
			color: #333333;
		}

		.btn {
			padding: 12px 24px;
			width: auto;
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
			color: #144C41;
			font-family: $r;
		}
	}

	.result_point_top {
		padding: 24px 32px 32px;
		background: #FFFFFF;
		border-radius: 32px;
		margin-bottom: 40px;
		
		.title {
			font-style: normal;
			font-weight: 500;
			font-size: 22px;
			line-height: 26px;
			color: #428E81;
			padding-bottom: 32px;
		}		

		.inner {
			display: flex;
			justify-content: space-between;

			.left {
				flex: 0 0 calc(50% - 10px);
			}

			.right {
				flex: 0 0 calc(50% - 10px);
			}

			.name {
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 20px;
				color: #167AD7;
				font-family: $r;
				padding-bottom: 4px;
			}

			.value {
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 22px;
				color: #333333;
			}

			.point_title {
				padding-bottom: 24px;

				.value {
					font-style: normal;
					font-weight: 500;
					font-size: 20px;
					line-height: 24px;
					color: #131E30;
					font-family: $r;
				}
			}
		}
	}

	.btn {
		padding: 12px 24px;
		width: auto;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		color: #144C41;
		font-family: $r;
		display: inline-block;
	}

	.results_data {
		padding: 0 32px 28px;
	}

	.sertificats {
		padding-bottom: 47px;

		img {
			border-radius: 6px;
		}
	}

	.result_sert_top {
		display: flex;
		justify-content: space-between;
		padding-bottom: 40px;

		.left {
			flex: 0 0 calc(50% - 30px);
		}

		.right {
			flex: 0 0 calc(50% - 30px);
		}
	}

	@media all and (max-width: 767px) {

		.result_top {
			display: block;
			padding-bottom: 30px;

			.left {
				padding-bottom: 20px;
			}
		}

		.result_bottom {
			display: block;
			text-align: center;

			.left {
				padding-bottom: 20px;
			}

			.btn {
				display: inline-block;
			}
		}

		.result_point_top {
			padding: 24px;

			.inner {
				display: block;

				.left {
					margin-bottom: 30px;
				}
			}
		}

		.sertificats {
			padding-bottom: 30px;
		}

		.result_sert_top {
			display: block;

			.left {
				padding-bottom: 30px;
			}
		}

		.results_data {
			padding: 0 24px;
		}
	}


}

h1 {
	@media all and (max-width: 767px) {
		margin-bottom: 20px;
	}
}