</div>
</div> 
<footer class="footer">
<div class="block_inner">
	<div class="left_block">
		<div class="logo_footer">
			<img src="img/logo_footer.svg" alt="">
		</div>
		<div class="social_block">
			<a href="#">
				<img src="files/face.svg" alt="">
			</a>
			<a href="#">
				<img src="files/inst.svg" alt="">
			</a>
			<a href="#">
				<img src="files/tg.svg" alt="">
			</a>
		</div>
	</div>
	<div class="middle_block">
		<div class="phone_footer">
			<div class="name">Телефон: </div>
			<div><a href="tel:+998976696666">+998 97 669 66 66</a></div>
		</div>
		<div class="address_footer">
			<div class="name">Адрес: </div>
			<div class="inner">г. Ташкент, ул Узбекистон овози 2</div>
		</div>
	</div>
	<div class="right_block">
		<ul>
			<li><a href="#">FAQ</a></li>
			<li><a href="#">Политика конфиденциальности</a></li>
			<li><a href="#">Публичная оферта</a></li>
			<li><a href="#">Связаться с нами</a></li>
		</ul>
	</div>
</div>
</footer>
<!-- <div class="form-popup-wrapper red_form">
	<div class="formExtraWrapper">
		<div class="form-b">
			<div class="title">Ответьте, пожалуйста, на вопросы</div>
			<div class="text">Это не займет много времени</div>
			<a href="#" class="btn">Ответить</a>
		</div>
		<div class="close-form"><span></span></div>
	</div>
</div> -->
<!-- <div class="help_rating_form opened">
	<div class="help_rating_form_inner">
		<div class="close_help"></div>
		<form class="inner">
			<div class="title">Вам нравится наш сайт? Вы нашли нужную информацию?</div>
			<div class="text">Сайт рыбатекст поможет сгенерировать несколько абзацев более менее осмысленного текста</div>
			<div class="buttons">
				<div class="btn_check yes_check">
					<label><input type="checkbox" value="Да понравилась" name="">Да</label>
				</div>
				<div class="btn_check no_check">
					<label><input type="checkbox" value="Нет, не понравилась" name="">Нет&nbsp;</label>
				</div>
				<div class="rev_btn">Оставить отзыв</div>
			</div>
			<div class="help_comment" style="display: none;">
				<div class="field">
					<textarea name="" placeholder="Комментарий" id="" cols="30" rows="10"></textarea>
				</div>
				<button class="btn">Отправить</button>
			</div>
		</form>
	</div>		
</div> -->
<script src="js/pickmeup.js" async></script>
<script src="js/main.js" async></script>
<script src="js/lightgallery-all.min.js" async></script>
<script src="js/tests.js" async></script>
</body>
</html>