<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Тайтл</title>
	<link rel="stylesheet" href="css/main.css">
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="css/lightgallery.css">
	<link rel="stylesheet" href="css/tests.css">
	<link rel="stylesheet" href="css/styles.css">
</head>
<body class="m_bg">
<nav class="menu_burger">
	<div class="menuClose"><span></span></div>
	<div class="menu_scroll">
		<div class="menu_top">
			<a href="#" class="login_btn">Личный кабинет</a>
			<ul>
				<li class="opened"><a href="#">О нас</a></li>
				<li><a href="#">Наши услуги</a></li>
				<li><a href="#">Новости</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
		</div> 
	</div>
</nav> 
<div class="site_wrapper inner_page_wr inner_page_bg">
<header role="banner" class="header inner_page">
	<div class="header_inner">
		<div class="logo">
			<a href="#">
				<img src="img/logo.svg" alt="">
			</a>
		</div>
		<div class="menu_top_wr">
			<ul>
				<li class="opened"><a href="#">О нас</a></li>
				<li><a href="#">Наши услуги</a></li>
				<li><a href="#">Новости</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
		</div>
		<a href="#" class="login_btn">Личный кабинет</a>
		<div class="lang_block">
			<div class="lang_active">RU</div>
			<ul class="lang_list">
				<li><a href="#">Eng</a></li>
				<li><a href="#">Uz</a></li>
			</ul>
		</div>
		<div class="burger"><span></span></div>
	</div>
</header>
<div class="content_block_wr inner_page">
	