include _header_inner_page.jade
	
	<div class="path_block">
		<div class="block_inner">
			<a href="/">Главная</a><span>/</span>Регистрация
		</div>
	</div>
	<div class="block_inner">
		<h1>Личный кабинет</h1>
		<div class="lk_block_wr">
			<div class="link_lk">
				<a href="#" class="name active">Общая информация</a>	
				<a href="#" class="name">Сертификаты</a>	
			</div>
			
			<div class="top_lk">
				<div class="left_lk">
					<div class="image_lk">
						<div class="image">
							<img src="" class="imgshow" alt="">
							<label>
								<input type="file">
							</label>
						</div>
					</div>
					<div class="btn white">Редактировать профиль</div>
				</div>
				<div class="right_table">
					<div class="col">
						<div class="row_field">
							<div class="r_name">ФИО:</div>
							<div class="r_value">Сардоров Сардор Сардорович</div>
						</div>
						<div class="row_field">
							<div class="r_name">Дата рождения:</div>
							<div class="r_value">12.09.1990</div>
						</div>
						<div class="row_field">
							<div class="r_name">Город:</div>
							<div class="r_value">Ташкент</div>
						</div>
					</div>
					<div class="col">
						<div class="row_field">
							<div class="r_name">Телефон:</div>
							<div class="r_value">+998 ** *** 2355</div>
						</div>
						<div class="row_field">
							<div class="r_name">E-mail:</div>
							<div class="r_value">login@domain.uz</div>
						</div>
					</div>
				</div>
			</div>
			<div class="name">Экзамены</div>
			<div class="lk_table">
				<div class="table_block">
					<table>
						<thead>
							<tr>
								<th>Название</th>
								<th width="260">Дата</th>
								<th width="92">Статус</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Тест IELTS</td>
								<td width="260">12.12.2021</td>
								<td width="92"><div class="pending">В ожидании</div></td>
							</tr>
							<tr>
								<td>Проверка уровня знаний. Тест</td>
								<td width="260">12.12.2021</td>
								<td width="92"><div class="success">Пройдено</div></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>				
		</div>			
	</div>
	
include _footer.jade