include _header_inner_page.jade
	
	<div class="path_block">
		<div class="block_inner">
			<a href="/">Главная</a><span>/</span>Регистрация
		</div>
	</div>
	<div class="block_inner">
		<h1>Личный кабинет</h1>
		<div class="lk_block_wr">
			<div class="link_lk">
				<a href="#" class="name active">Общая информация</a>	
				<a href="#" class="name">Сертификаты</a>	
			</div>
			
			<div class="lk_sertifice_wr">
				<div class="ser_item">
					<div class="left_image">
						<img src="files/certificate_1.png" alt="">
					</div>
					<div class="right_item">
						<div class="name_i">Тема тестирования: <strong>Английский разговорный</strong></div>
						<div class="date_i">Дата: <span>16.03.2022 15:37</span></div>
						<div class="time_i">Потрачено времени: <span>00:01:03</span></div>
						<a href="#" download class="btn">Скачать сертификат</a>
					</div>
				</div>
				<div class="ser_item">
					<div class="left_image">
						<img src="files/certificate_1.png" alt="">
					</div>
					<div class="right_item">
						<div class="name_i">Тема тестирования: <strong>Английский разговорный</strong></div>
						<div class="date_i">Дата: <span>16.03.2022 15:37</span></div>
						<div class="time_i">Потрачено времени: <span>00:01:03</span></div>
						<a href="#" download class="btn">Скачать сертификат</a>
					</div>
				</div>
			</div>										
		</div>			
	</div>
	
include _footer.jade