include _header_inner.jade
	
	<div class="path_block">
		<div class="block_inner">
			<a href="/">Главная</a><span>/</span>Регистрация
		</div>
	</div>
	<div class="block_inner">
		<h1>Регистрация</h1>
		<form action="#" class="reg_form">
			<div class="inner_form">
				<div class="form_title">Данные пользователя</div>
				<div class="col_3 short">
					<div class="field">
						<div class="field_name">Имя:</div>
						<input type="text">
					</div>
					<div class="field">
						<div class="field_name">Фамилия:</div>
						<input type="text">
					</div>
					<div class="field">
						<div class="field_name">Отчество:</div>
						<input type="text">
					</div>
				</div>
				<div class="form_title">Контакты</div>
				<div class="col_3">
					<div class="field">
						<div class="field_name">Телефон:</div>
						<input type="text">
					</div>
					<div class="field">
						<div class="field_name">E-mail:</div>
						<input type="text">
					</div>
					<div class="field">
						<div class="field_name">Адрес:</div>
						<input type="text">
					</div>
				</div>
				<div class="form_title">Данные паспорта</div>
				<div class="col_3 short">
					<div class="field">
						<div class="field_name">Дата рождения:</div>
						<input type="text" class="date_calendar">
					</div>
					<div class="field">
						<div class="field_name">Серия паспорта:</div>
						<input type="text">
					</div>
					<div class="field">
						<div class="field_name">Номер паспорта:</div>
						<input type="text">
					</div>
				</div>
				<div class="col_3">
					<div class="field">
						<div class="field_name">Дата выдачи:</div>
						<input type="text">
					</div>
					<div class="field">
						<div class="field_name">Дата окончания срока:</div>
						<input type="text">
					</div>
					<div class="field">
						<div class="field_name">Кем выдан:</div>
						<input type="text">
					</div>
				</div>
				<div class="field file">
					<div class="file_data">
						<div class="filename"><span></span></div>
					</div>
					<div class="file_block">
						<label>
							<div class="btn_reload border">Перезагрузить файл</div>
							<div class="name_file_field">
								<div class="warning">Загрузите фото паспорта</div>
								<span>Файл формата jpg, png. Не более 5 мб.</span>
							</div>
							<input type="file" class="file_input">
						</label>
					</div>
					
				</div>
				<button class="btn">Зарегистрироваться</button>
			</div>
		</form>
	</div>
	
include _footer.jade