include _header_inner.jade
	<div class="result_wrapper">
		<div class="block_inner">
			<h1>Тест пройден!</h1>
			<div class="result_top">
				<div class="left">
					<div class="text">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.</div>
					<div class="result_data">
						<div class="name">Тема тестирования:</div>
						<div class="value main_v">Оценка компетенции</div>
					</div>
					<div class="result_data">
						<div class="name">Дата:</div>
						<div class="value">16.03.2022 15:37</div>
					</div>
					<div class="result_data">
						<div class="name">Потрачено времени:</div>
						<div class="value">00:01:03</div>
					</div>
					<div class="result_data">
						<div class="name">Результат:</div>
						<div class="value">Будет отправлен на электронную почту</div>
					</div>
				</div>
				<div class="right">
					<form action="">
						<div class="title">Получить результаты</div>
						<div class="field">
							<div class="field_name">Имя:</div>
							<input type="text">
						</div>
						<div class="field">
							<div class="field_name">E-mail: <span>*</span></div>
							<input type="text" required>
						</div>
						<input type="submit" value="Отправить" class="btn">
					</form>
				</div>
			</div>
			<div class="result_bottom">
				<div class="left">Пройдите регистрацию, чтобы получить <br> доступ ко всем тестам нашего сервиса!</div>
				<a href="#" class="btn">Зарегистрироваться</a>
			</div>
		</div>
	</div>
include _footer.jade