include _header_inner.jade
	<div class="result_wrapper">
		<div class="block_inner">
			<h1>Тест пройден!</h1>
			<div class="sertificats">
				<img src="files/tests/certificate-simple.jpg" alt="">
			</div>
			<div class="result_sert_top">
				<div class="left">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.</div>
				<div class="right">
					<div class="result_data">
						<div class="name">Тема тестирования:</div>
						<div class="value main_v">Оценка компетенции</div>
					</div>
					<div class="result_data">
						<div class="name">Дата:</div>
						<div class="value">16.03.2022 15:37</div>
					</div>
					<div class="result_data">
						<div class="name">Потрачено времени:</div>
						<div class="value">00:01:03</div>
					</div>
					<a href="" download class="btn">Скачать сертификат</a>
				</div>
			</div>
			<div class="result_bottom">
				<div class="left">Пройдите регистрацию, чтобы получить <br> доступ ко всем тестам нашего сервиса!</div>
				<a href="#" class="btn">Зарегистрироваться</a>
			</div>
		</div>
	</div>
include _footer.jade