include _header_inner.jade
	<div class="result_wrapper">
		<div class="block_inner">
			<h1>Тест пройден!</h1>
			<div class="result_point_top">
				<div class="title">Результаты теста:</div>
				<div class="inner">
					<div class="left">
						<div class="point_title">
							<div class="name">Вы набрали:</div>
							<div class="value">68 баллов</div>
						</div>
						<div class="point">
							<div class="name">Описание:</div>
							<div class="value">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста</div>
						</div>
					</div>
					<div class="right">
						<div class="point_title">
							<div class="name">Ваш тип личности:</div>
							<div class="value">Тихоокеанский синий кит</div>
						</div>
						<div class="point">
							<div class="name">Рекомендации:</div>
							<div class="value">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.</div>
						</div>
					</div>
				</div>
			</div>
			<div class="results_data">
				<div class="result_data">
					<div class="name">Тема тестирования:</div>
					<div class="value main_v">Оценка компетенции</div>
				</div>
				<div class="result_data">
					<div class="name">Дата:</div>
					<div class="value">16.03.2022 15:37</div>
				</div>
				<div class="result_data">
					<div class="name">Потрачено времени:</div>
					<div class="value">00:01:03</div>
				</div>
			</div>
			<div class="result_bottom">
				<div class="left">Пройдите регистрацию, чтобы получить <br> доступ ко всем тестам нашего сервиса!</div>
				<a href="#" class="btn">Зарегистрироваться</a>
			</div>
		</div>
	</div>
include _footer.jade