<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Сертификат</title>
	<link rel="stylesheet" href="css/sertificate.css">
</head>
<body>
	<div class="sertificate_1">
		<div class="logo">
			<img src="img/logo_sert.svg" alt="">
		</div>
		<div class="title">Сертификат</div>
		<div class="id_number">№AA010304SA002</div>
		<div class="name">Садуллаев Сардор</div>
		<div class="text">
			<div>Настоящий сертификат подтверждает </div>
			<div>успешное завершение тестирования на тему:</div>
		</div>
		<div class="subject">Английский разговорный</div>
		<div class="count_answers">
			<span>36</span>/<span class="answers">36</span>
			<div class="answers_text">Верных ответов</div>
		</div>
	</div>
</body>
</html>