<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Сертификат</title>
	<link rel="stylesheet" href="css/sertificate.css">
</head>
<body>
	<div class="sertificate_points">
		<div class="top">
			<div class="title">Сертификат</div>
			<div class="activity">
				<div>Тошкент давлат транспорт университети педагог ходимининг компетенциялар </div>
			</div>
			<div class="logo">
				<img src="img/logo_sert.svg" alt="">
			</div>
		</div>
		<div class="user_block">
			<div class="ava empty">
				<img src="" alt="">
			</div>
			<div class="name">
				<span>ФИО:</span>
				<div class="ava_name">Сардоров Сардор Сардорович</div>
			</div>
			<div class="user_param">
				<span>Год рождения:</span>
				<div class="text">12 декабря 1984 г.</div>
			</div>
			<div class="user_param">
				<span>Образование:</span>
				<div class="text">Государственный Педагогический Институт г. Ташкента</div>
			</div>
			<div class="user_param">
				<span>Должность:</span>
				<div class="text">Учитель английского языка</div>
			</div>
			<div class="ball">64</div>
		</div>
		<div class="indicators_block">
			<div class="indicators_title">Показатели компетенций</div>
			<div class="indicators_inner">
				<div class="indicator">
					<div class="number">6</div>
					<div class="name">Касбий профессионализм</div>
					<div class="text">Замонавий дунёқарашга эга бўлиш - 79 <br>(ҳуқуқий-80, иқтисодий-79, сиёсий-79, маънавий-78) <br>Соҳага оид қонунчиликни билиш - 65 <br>Фаолиятни (ўқув ва илмий) режалаштириш - 78 </div>
				</div>
				<div class="indicator">
					<div class="number color_green">8</div>
					<div class="name">Янги тажрибага очиқлик</div>
					<div class="text">Инновацион фикрлаш - 90 <br>Янги тажрибага очиқлик - 82</div>
				</div>
				<div class="indicator">
					<div class="number">6</div>
					<div class="name">Коммуникативлик</div>
					<div class="text">Мулоқотчанлик ва мулоқот мақсадларига эришиш <br>Корпоратив маданиятга риоя қилиш</div>
				</div>
				<div class="indicator">
					<div class="number color_red">2</div>
					<div class="name">Жараёнга йўналганлик</div>
					<div class="text">Тизимли фикрлаш <br>Интерфаол усуллардан фойдаланиш</div>
				</div>
				<div class="indicator">
					<div class="number">6</div>
					<div class="name">Мослашувчанлик</div>
					<div class="text">Стрессга бардош бера олиш - 60 <br>Эмоционал барқарор бўлиш - 78</div>
				</div>
				<div class="indicator">
					<div class="number color_yellow">5</div>
					<div class="name">Ижтимоий интеллект</div>
					<div class="text">Шахслар билан ишлаш қобилияти <br>Шахсларга таъсир курсата олиш</div>
				</div>
				<div class="indicator">
					<div class="number color_green">8</div>
					<div class="name">Ўз устида ишлаш (LLL)</div>
					<div class="text">Хорижий тилларни ўзлаштириш <br>Таълимда АКТни қўллаш</div>
				</div>
				<div class="indicator">
					<div class="number color_red">3</div>
					<div class="name">Натижага йўналганлик</div>
					<div class="text">Ўқув, ўқув-услубий ва илмий натижаларга интилиш<br>Ўқув жараёнини сифатини таъминлаш</div>
				</div>
			</div>
		</div>
		<div class="bottom">
			<div class="body">
				<div class="bottom_title">Описание:</div>
				<div class="bottom_text">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.</div>
			</div>
			<div class="body">
				<div class="bottom_title">Рекомендации:</div>
				<div class="bottom_text">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.</div>
			</div>
			<div class="qr_code">
				<img src="files/tests/qr.png" alt="">
			</div>
		</div>
	</div>
</body>
</html>