<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Сертификат</title>
	<link rel="stylesheet" href="css/sertificate.css">
</head>
<body>
	<div class="sertificate_simple">
		<div class="top">
			<div class="logo">
				<img src="img/logo_sert.svg" alt="">
			</div>
			<div class="user_data">
				<div class="ava empty">
					<img src="" alt="">
				</div>
				<div class="name">
					<span>ФИО:</span>
					<div class="ava_name">Сардоров Сардор Сардорович</div>
				</div>
			</div>
		</div>
		<div class="middle">
			<div class="left">
				<div class="title">Сертификат</div>
				<div class="id_number">№AA010304SA002</div>
			</div>
			<div class="count_answers">
				<span>36</span>/<span class="answers">36</span>
				<div class="answers_text">Верных ответов</div>
			</div>
		</div>
		<div class="text">
			<div>Настоящий сертификат подтверждает  успешное завершение тестирования на тему:</div>
		</div>
		<div class="subject">Английский разговорный</div>
		<div class="bottom">
			<div class="body">
				<div class="bottom_title">Описание:</div>
				<div class="bottom_text">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.</div>
			</div>
			<div class="body">
				<div class="bottom_title">Рекомендации:</div>
				<div class="bottom_text">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.</div>
			</div>
		</div>
	</div>
</body>
</html>