include _header_inner.jade
	<div class="path_block">
		<div class="block_inner">
			<a href="/">Главная</a><span>/</span>Linguaskill
		</div>
	</div>
	<div class="block_inner">
		<h1>О тесте Linguaskill в двух минутах</h1>
		<div class="video_block">
			<iframe width="875" height="500" src="https://www.youtube.com/embed/_6AsTOKPw1g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div class="preim_block_temp">
			<div class="title">Преимущество владения сертификатом Linguaskill</div>
			<div class="inner">
				<div class="item">
					<div class="image">
						<img src="files/lin1.png" alt="">
					</div>
					<div class="name">Преподаватель</div>
					<div class="body">А также независимые государства своевременно верифицированы. Однозначно, сторонники тоталитаризма в науке в равной степени предоставлены сами себе. Разнообразный и богатый опыт говорит.</div>
				</div>
				<div class="item">
					<div class="image">
						<img src="files/lin2.png" alt="">
					</div>
					<div class="name">Студент</div>
					<div class="body">А также независимые государства своевременно верифицированы. Однозначно, сторонники тоталитаризма в науке в равной степени предоставлены сами себе. Разнообразный и богатый опыт говорит.</div>
				</div>
				<div class="item">
					<div class="image">
						<img src="files/lin3.png" alt="">
					</div>
					<div class="name">Школьник</div>
					<div class="body">А также независимые государства своевременно верифицированы. Однозначно, сторонники тоталитаризма в науке в равной степени предоставлены сами себе. Разнообразный и богатый опыт говорит.</div>
				</div>
			</div>
		</div>
		<div class="list_number">
			<div class="title">Почему мы лучший центр для сдачи теста по системе Linguaskill?</div>
			<div class="inner">
				<div class="item">Аккредитация от Агентства по развитию иностранных языков</div>
				<div class="item">Кураторы аттестованные представителями Кембриджа</div>
				<div class="item">Бесплатная 2-х часовая подготовка с куратором от Smart Assessement</div>
				<div class="item">Простая процедура регистрации и оплаты на сайте</div>
				<div class="item">Оперативная подготовка результатов тестирования (указать, когда будет результат)</div>
			</div>
		</div>
		<div class="format_test">
			<div class="title">Выберите свой формат тестирования</div>
			<div class="inner">
				<a href="#" class="item">
					<span class="stars_block">
						<span class="name">Уровень:</span>
						<span class="stars_main">
							<span class="active"></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</span>
					</span>
					<span class="image">
						<img src="files/fi.png" alt="">
					</span>
					<span class="name_f">Linguaskill test 1</span>
					<span class="price">Цена: 989 000 UZS</span>
					<span class="btn_f">Подробнее</span>
				</a>
				<a href="#" class="item">
					<span class="stars_block">
						<span class="name">Уровень:</span>
						<span class="stars_main">
							<span class="active"></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</span>
					</span>
					<span class="image">
						<img src="files/fi.png" alt="">
					</span>
					<span class="name_f">Linguaskill test 1</span>
					<span class="price">Цена: 989 000 UZS</span>
					<span class="btn_f">Подробнее</span>
				</a>
				<a href="#" class="item">
					<span class="stars_block">
						<span class="name">Уровень:</span>
						<span class="stars_main">
							<span class="active"></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</span>
					</span>
					<span class="image">
						<img src="files/fi.png" alt="">
					</span>
					<span class="name_f">Linguaskill test 1</span>
					<span class="price">Цена: 989 000 UZS</span>
					<span class="btn_f">Подробнее</span>
				</a>
			</div>
		</div>
		<div class="slider_block_li">
			<div class="title">Что о нас говорят</div>
			<div class="inner">
				<div class="slider_ll">
					<div class="item">
						<div class="top_i">
							<div class="image">
								<img src="files/fi.png" alt="">
							</div>
							<div class="right">
								<div class="name">Отабек</div>
								<div class="date">3 сентября 2022</div>
							</div>
						</div>
						<div class="body">А также независимые государства своевременно верифицированы. Однозначно, сторонники тоталитаризма в науке в равной степени предоставлены сами себе. Разнообразный и богатый опыт говорит.</div>
					</div>
					<div class="item">
						<div class="top_i">
							<div class="image">
								<img src="files/fi.png" alt="">
							</div>
							<div class="right">
								<div class="name">Отабек</div>
								<div class="date">3 сентября 2022</div>
							</div>
						</div>
						<div class="body">А также независимые государства своевременно верифицированы. Однозначно, сторонники тоталитаризма в науке в равной степени предоставлены сами себе. Разнообразный и богатый опыт говорит.</div>
					</div>
					<div class="item">
						<div class="top_i">
							<div class="image">
								<img src="files/fi.png" alt="">
							</div>
							<div class="right">
								<div class="name">Отабек</div>
								<div class="date">3 сентября 2022</div>
							</div>
						</div>
						<div class="body">А также независимые государства своевременно верифицированы. Однозначно, сторонники тоталитаризма в науке в равной степени предоставлены сами себе. Разнообразный и богатый опыт говорит.</div>
					</div>
					<div class="item">
						<div class="top_i">
							<div class="image">
								<img src="files/fi.png" alt="">
							</div>
							<div class="right">
								<div class="name">Отабек</div>
								<div class="date">3 сентября 2022</div>
							</div>
						</div>
						<div class="body">А также независимые государства своевременно верифицированы. Однозначно, сторонники тоталитаризма в науке в равной степени предоставлены сами себе. Разнообразный и богатый опыт говорит.</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form_bottom_l">
			<div class="left">
				<div class="title">Остались вопросы? С радостью ответим</div>
				<form action="">
					<div class="field">
						<input type="text" placeholder="Ваше имя">
					</div>
					<div class="field">
						<input type="text" placeholder="Ваш телефон">
					</div>
					<div class="field checkbox">
						<label>
							<input type="checkbox"><span></span>Согласен на обработку и хранение <a href="#">персональных данных</a>
						</label>
					</div>
					<button type="submit">Жду звонка</button>
				</form>
			</div>
			<div class="right">
				<img src="files/form_img.png" alt="">
			</div>
		</div>
	</div>
include _footer.jade