include _header_inner.jade
	
	
	<div class="block_inner">
		<div class="test_head">
			<div class="test_head_left">
				<div class="name">Тема тестирования:</div>
				<div class="text">Оценка компетенции</div>
			</div>
			<div class="test_head_right">
				<div id="deadline-message" class="deadline-message">Время вышло</div>
				<div id="countdown" class="countdown">
					<div class="countdown-number">
						<span class="countdown-text">часов</span>
						<span class="hours countdown-time"></span>
					</div>
					<div class="dotted">:</div>
					<div class="countdown-number">
						<span class="countdown-text">мин.</span>
						<span class="minutes countdown-time"></span>
					</div>
					<div class="dotted">:</div>
					<div class="countdown-number">
						<span class="countdown-text test_s">сек.</span>
						<span class="seconds countdown-time"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="test_main" id="test_main">
			<div class="test_step_text">Вопрос № <div class="active_step_text">1 </div> <div class="step_text"> / 32</div></div>
			<div class="steps_wrapper">
				<div class="step_main_test active_step">
					<div class="step_title">Кто разработал первый работающий печатный станок?</div>
					<div class="step_label">Выберите один из варинтов ответов:</div>
					<div class="step_variants">
						<div class="step_field radio_field">
							<label>
								<input type="radio" name="v1" value="Исаак Ньютон">
								<span class="field_name"><span class="check"></span>Исаак Ньютон</span>
							</label>
						</div>
						<div class="step_field radio_field">
							<label>
								<input type="radio" name="v1" value="Альберт Эйнштейн">
								<span class="field_name"><span class="check"></span>Альберт Эйнштейн</span>
							</label>
						</div>
						<div class="step_field radio_field">
							<label>
								<input type="radio" name="v1" value="Галилео Галилей">
								<span class="field_name"><span class="check"></span>Галилео Галилей</span>
							</label>
						</div>
						<div class="step_field radio_field">
							<label>
								<input type="radio" name="v1" value="Иоган Гутенберг">
								<span class="field_name"><span class="check"></span>Иоган Гутенберг</span>
							</label>
						</div>
					</div>
				</div>
				<div class="step_main_test">
					<div class="step_title">Прослушайте вопрос</div>
					<div class="step_audio">
						<audio controls>
							<source src="files/mj.mp3" type="audio/mpeg">
						</audio>
					</div>	
					<div class="step_label">Выберите один из варинтов ответов:</div>
					<div class="step_variants">
						<div class="step_field radio_field">
							<label>
								<input type="radio" name="v1" value="Исаак Ньютон">
								<span class="field_name"><span class="check"></span>Исаак Ньютон</span>
							</label>
						</div>
						<div class="step_field radio_field">
							<label>
								<input type="radio" name="v1" value="Альберт Эйнштейн">
								<span class="field_name"><span class="check"></span>Альберт Эйнштейн</span>
							</label>
						</div>
						<div class="step_field radio_field">
							<label>
								<input type="radio" name="v1" value="Галилео Галилей">
								<span class="field_name"><span class="check"></span>Галилео Галилей</span>
							</label>
						</div>
						<div class="step_field radio_field">
							<label>
								<input type="radio" name="v1" value="Иоган Гутенберг">
								<span class="field_name"><span class="check"></span>Иоган Гутенберг</span>
							</label>
						</div>
					</div>
				</div>
				<div class="step_main_test">
					<div class="step_title">Кто разработал первый работающий печатный станок?</div>
					<div class="step_label">Выберите один из варинтов ответов:</div>
					<div class="step_variants">
						<div class="step_field radio_field">
							<label>
								<input type="radio" name="v1" value="Исаак Ньютон">
								<span class="field_name">
									<span class="check"></span>
									<audio controls>
										<source src="files/mj.mp3" type="audio/mpeg">
									</audio>
								</span>
							</label>
						</div>
						<div class="step_field radio_field">
							<label>
								<input type="radio" name="v1" value="Альберт Эйнштейн">
								<span class="field_name">
									<span class="check"></span>
									<audio controls>
										<source src="files/mj.mp3" type="audio/mpeg">
									</audio>
								</span>
							</label>
						</div>
						<div class="step_field radio_field">
							<label>
								<input type="radio" name="v1" value="Галилео Галилей">
								<span class="field_name">
									<span class="check"></span>
									<audio controls>
										<source src="files/mj.mp3" type="audio/mpeg">
									</audio>
								</span>
							</label>
						</div>
						<div class="step_field radio_field">
							<label>
								<input type="radio" name="v1" value="Иоган Гутенберг">
								<span class="field_name">
									<span class="check"></span>
									<audio controls>
										<source src="files/mj.mp3" type="audio/mpeg">
									</audio>
								</span>
							</label>
						</div>
					</div>
				</div>
				<div class="step_main_test">
					<div class="step_title">Кто разработал первый работающий печатный станок?</div>
					<div class="step_label">Выберите один из варинтов ответов:</div>
					<div class="step_variants">
						<div class="step_field radio_field">
							<label>
								<input type="radio" name="v1" value="Исаак Ньютон">
								<span class="field_name">
									<span class="check"></span>
									<span class="images">
										<a href="files/tests/test1.jpg">
											<img src="files/tests/test1.jpg" alt="">
										</a>
										<a href="files/tests/test2.jpg">
											<img src="files/tests/test2.jpg" alt="">
										</a>
										<a href="files/tests/test3.jpg">
											<img src="files/tests/test3.jpg" alt="">
										</a>
									</span>
								</span>
							</label>
						</div>
						<div class="step_field radio_field">
							<label>
								<input type="radio" name="v1" value="Альберт Эйнштейн">
								<span class="field_name">
									<span class="check"></span>
									<span class="images">
										<a href="files/tests/test4.jpg">
											<img src="files/tests/test4.jpg" alt="">
										</a>
									</span>
								</span>
							</label>
						</div>
						<div class="step_field radio_field">
							<label>
								<input type="radio" name="v1" value="Галилео Галилей">
								<span class="field_name">
									<span class="check"></span>
									<span class="images">
										<a href="files/tests/test5.jpg">
											<img src="files/tests/test5.jpg" alt="">
										</a>
										<a href="files/tests/test6.jpg">
											<img src="files/tests/test6.jpg" alt="">
										</a>
										<a href="files/tests/test7.jpg">
											<img src="files/tests/test7.jpg" alt="">
										</a>
									</span>
								</span>
							</label>
						</div>
					</div>
				</div>
				<div class="step_main_test">
					<div class="step_title">Кто разработал первый работающий печатный станок?</div>
					<div class="step_label">Выберите один из варинтов ответов:</div>
					<div class="step_variants">
						<div class="step_field checkbox_field">
							<label>
								<input type="checkbox" name="ch1" value="Исаак Ньютон">
								<span class="field_name"><span class="check"></span>Исаак Ньютон</span>
							</label>
						</div>
						<div class="step_field checkbox_field">
							<label>
								<input type="checkbox" name="ch2" value="Альберт Эйнштейн">
								<span class="field_name"><span class="check"></span>Альберт Эйнштейн</span>
							</label>
						</div>
						<div class="step_field checkbox_field">
							<label>
								<input type="checkbox" name="ch3" value="Галилео Галилей">
								<span class="field_name"><span class="check"></span>Галилео Галилей</span>
							</label>
						</div>
						<div class="step_field checkbox_field">
							<label>
								<input type="checkbox" name="ch4" value="Иоган Гутенберг">
								<span class="field_name"><span class="check"></span>Иоган Гутенберг</span>
							</label>
						</div>
					</div>
				</div>
				<div class="step_main_test sortable_step">
					<div class="step_title">Кто разработал первый работающий печатный станок?</div>
					<div class="step_label">Выберите один из варинтов ответов:</div>
					<div class="step_variants">
						<textarea name="" class="sort_show_value" style="display: none;"  id="" cols="30" rows="10"></textarea>
						<ul class="sortable">
							<li class="ui-state-default">Исаак Ньютон</li>
							<li class="ui-state-default">Альберт Эйнштейн</li>
							<li class="ui-state-default">Галилео Галилей</li>
							<li class="ui-state-default">Иоган Гутенберг</li>
							<li class="ui-state-default">Рэй Чарльз</li>
							<li class="ui-state-default">Маргарет Тетчер</li>
							<li class="ui-state-default">Объект при перетаскивании</li>
						</ul>
					</div>
				</div>
				<div class="step_main_test bind_step">
					<div class="step_title">Кто разработал первый работающий печатный станок?</div>
					<div class="step_label">Выберите один из варинтов ответов:</div>
					<div class="step_variants">
						<textarea name="" class="bind_show_value" style="display: none;"  id="" cols="30" rows="10"></textarea>
						<div class="btn btn_bind">Привязать</div>
						<div class="bind_list_wr">
							<ul class="bind_list left_list">
								<li>111</li>
								<li>222</li>
								<li>333</li>
								<li>444</li>
								<li>555</li>
								<li>666</li>
							</ul>
							<ul class="bind_list right_list">
								<li>222</li>
								<li>666</li>
								<li>111</li>
								<li>333</li>
								<li>444</li>
								<li>555</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="btns_test">
				<div class="btn btn_next">Ответить</div>
			</div>
		</div>					
	</div>

include _footer.jade